.l-grid {
  flex-grow: 1;

  .browser-ie & {
    min-height: rem(1); // fixes https://github.com/philipwalton/flexbugs/issues/75
  }
}

.l-grid__cell {
  .browser-ie & {
    min-height: rem(1); // fixes https://github.com/philipwalton/flexbugs/issues/75
  }
}
