.l-page {
  margin: auto;
  max-width: $page-layout-max-width;
}

.l-page-primary {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  z-index: z(primary);

  @include mq(960px) {
    margin-left: $navigation-desktop-width;

    .g-filter-dropdown-open & {
      z-index: z(secondary);
    }
  }

  @each $breakpoint, $navigation-height in $navigation-heights {
    @include mq($breakpoint) {
      @if $navigation-height == "auto" {
        padding-top: 0;
      }
      @else {
        padding-top: $navigation-height;
      }
    }
  }

  .l-page--embedded & {
    margin-left: 0;
    padding-top: 0;
  }

  @media print {
    margin-left: 0;
  }
}

.l-page-primary__top {
  flex-grow: 1;
  flex-shrink: 0;
}

.l-page-primary__bottom {
  position: relative;
  z-index: z(primary above-inherit);
}

.l-page__secondary {
  position: relative;
  z-index: z(secondary);

  @include mq(767px, max-width) {
    .g-filter-dropdown-open & {
      z-index: z(primary);
    }
  }
}
