@mixin theme($css-property, $css-value, $theme-classes: t) {
  @each $selector in & {
    @each $class in $theme-classes {
      @each $theme, $theme-properties in $site-themes {
        $value: $css-value;

        @each $theme-name, $theme-value in $theme-properties {
          @if ($css-value == $theme-name) {
            $value: quote($theme-value);
          }
          @else {
            $rgba-value: "rgba(#{red($theme-value)}, #{green($theme-value)}, #{blue($theme-value)}";
            $value: str-replace($value, "rgba(${#{$theme-name}}", $rgba-value);
            $value: str-replace($value, "${#{$theme-name}}", $theme-value);
          }
        }

        @at-root .#{$class}-#{join($theme, $selector)} {
          #{$css-property}: unquote($value);
        }
      }
    }
  }
}
