@mixin u-generate-color-utils($type: "color") {
  @each $hue, $color in $palette {
    @each $name, $value in $color {
      $selector: "#{$hue}";

      @if (type-of($name) == "number") {
        $indexOfKeyInValue: str-index(quote($value), quote($name));

        @if ($indexOfKeyInValue != null and $indexOfKeyInValue > 2) {
          $zeroPadding: "";

          @for $i from 1 through $indexOfKeyInValue - 2 {
            $zeroPadding: $zeroPadding + "0";
          }

          $name: $zeroPadding + $name;
        }
        @else {
          $name: quote($name);
        }
      }
      @else {
        $name: quote($name);
      }

      @if (str-index($name, "#") == 1 or $name == "inherit" ) {
        $value: unquote($name);
      }
      @else {
        $selector: $selector + "-#{$name}";
      }

      &-#{unquote($selector)} {
        @if ($type == "color") {
          @include u-color-properties($value, $important);
        }
        @else {
          background-color: $value if($important, if($important, !important, null), null);
        }
      }
    }
  }
}
