.cms-form {
  max-width: $float-label-input-group-max-width;

  a {
    @extend %anchor;
  }
}

.cms-form__legend {
  @include responsive-tween(fs(20), fs(24));

  font-weight: fw(500);
  line-height: (26 / 24);
  margin-bottom: s(small);
}
