.match-venue-broadcasters {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  padding: rem(22) s(small) rem(13);
  width: 100%;

  .match-eqio-\>488 & {
    flex-direction: row;
  }
}

.match-venue {
  color: c(gray 444444);
  text-align: center;

  .match-eqio-\<260 & {
    font-size: fs(12);
  }

  .match-eqio-\>488 & {
    margin-right: rem(6);
  }

  .match--teamsheet & {
    color: c(gray 767676);
    margin-bottom: s(small);

    .match-eqio-\<627 & {
      margin-top: rem(10);
    }
  }
}

.match-broadcasters {
  display: inline-flex;
  margin-top: s(small);

  .match-eqio-\>488 & {
    flex-direction: row;
    margin-top: rem(1);
    padding-left: s(x-small);
  }
}

.match-broadcasters__svg {
  height: rem(25);
  margin: 0 rem(12);
  width: rem(46);

  .match-eqio-\<260 & {
    height: rem(25);
    margin: 0 rem(4);
    width: rem(35);
  }
}
