.match-bye {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  width: 100%;
}

.match-bye-team {
  align-items: center;
  display: none;
  flex-grow: 1;
  justify-content: center;
}

.match-bye--show-1-4 {
  .match-bye-team:nth-child(-n+4) {
    display: flex;
  }

  .match-bye-team {
    @include mq(768px) {
      display: flex;
    }
  }
}

.match-bye--show-5-8 {
  margin-top: s(x-small);

  @include mq(768px) {
    display: none;
  }

  .match-bye-team:nth-child(n+5) {
    display: flex;

    @include mq(768px) {
      display: none;
    }
  }
}
