.match-milestone {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: fs(14);
  font-weight: fw(500);
  line-height: (18 / 14);
  padding: s(small) s(x-small);
  text-transform: uppercase;

  @include mq(768px) {
    font-size: fs(16);
  }
}

.match-milestone__title {
  font-size: fs(14);
  font-weight: fw(700);
  letter-spacing: rem(0.77);
  line-height: (21 / 14);
  padding: 0 s(small);
}

.match-milestone__line {
  height: rem(2);
  width: rem(32);
}
