.g-navigation-is-expanded {
  overflow-y: hidden if($important, !important, null);
}

.navigation {
  color: c(white); // TODO: look to removing this
  display: flex;
  fill: c(white); // TODO: look to removing this
  flex-direction: column;
  position: fixed;
  transform: translateZ(0);
  width: 100%;
  will-change: scroll-position;
  z-index: z(secondary navigation);

  @include mq(960px) {
    bottom: 0;
    top: 0;
    width: $navigation-desktop-width;
  }

  &.is-expanded {
    height: 100%;

    .browser-ios & {
      box-shadow: 0 rem(100) 0 c(white); // Just in case to cover up any bottom bounce in iOS
    }
  }
}

.navigation__headroom {
  flex-shrink: 0;
  overflow: hidden;
  transition: height $navigation-transition-speed;

  @include mq(960px) {
    height: auto if($important, !important, null);
  }

  &.is-pinned {
    @each $breakpoint, $navigation-height in $navigation-heights {
      @include mq($breakpoint) {
        height: $navigation-height;
      }
    }
  }

  &.is-unpinned {
    height: 0;
  }

  .is-expanded & {
    height: auto;
  }
}

.navigation__header {
  align-items: center;
  display: flex;
  padding: 0 s(small);
  width: 100%;

  @each $breakpoint, $navigation-height in $navigation-heights {
    @include mq($breakpoint) {
      height: $navigation-height;
    }
  }
}
