$b-disabled-opacity: 0.6 !default;

// sass-lint:disable force-attribute-nesting no-qualifying-elements
:disabled,
.is-disabled,
a[disabled] {
  cursor: default;
  opacity: $b-disabled-opacity;
  pointer-events: none;
}
