$b-heading-sizes: (
  1: 25px,
  2: 23px,
  3: 21px,
  4: 19px,
  5: 17px,
  6: 15px,
) !default;

$b-heading-color: null !default;
$b-heading-font-family: null !default;
$b-heading-font-weight: 700 !default;
$b-heading-line-height: normal !default;
$b-heading-class: "h" !default;

$b-heading-chain: ();

@each $selector, $value in $b-heading-sizes {
  $b-heading-chain: join($b-heading-chain, h#{$selector}, comma);

  h#{$selector} {
    @if (type-of($value) == "number" or type-of($value) == "string") {
      font-size: $value;
    }
    @else if (type-of($value) == "list") {
      @include responsive-tween(nth($value, 1), nth($value, 2));
    }
    @else if (type-of($value) == "map") {
      $min-values: if(type-of(nth($value, 1)) == "list", nth($value, 1), nth(map-values($value), 1));
      $max-values: if(type-of(nth($value, 2)) == "list", nth($value, 2), nth(map-values($value), 2));

      @include responsive-tween($min-values, $max-values);
    }
  }

  @if ($b-heading-class) {
    .#{$b-heading-class}#{$selector} {
      @extend h#{$selector};
    }
  }
}

#{$b-heading-chain} {
  color: $b-heading-color;
  font-family: $b-heading-font-family;
  font-weight: $b-heading-font-weight;
  line-height: $b-heading-line-height;
}
