$b-html-font-size: $f-rem-context !default;
$b-html-background: #fff !default;
$b-html-color: null !default;
$b-html-font-smoothing: true !default;
$b-html-overflow-y: null !default;

html {
  background: $b-html-background;
  color: $b-html-color;
  overflow-x: hidden;
  overflow-y: $b-html-overflow-y;
  -ms-overflow-style: scrollbar;
  text-size-adjust: 100%;

  @if ($b-html-font-size != 16px) {
    font-size: $b-html-font-size;
  }

  @if ($b-html-font-smoothing) {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
}
