$b-input-placeholder-color: #888 !default;
$b-input-focus-color: #ffffed !default;

input:not([type="checkbox"]):not([type="file"]):not([type="radio"]):not([type="range"]),
select,
textarea {
  @if ($b-box-sizing-border-box != true) {
    box-sizing: border-box;
  }

  &:focus {
    background-color: $b-input-focus-color;
  }
}

input:not([type="checkbox"]):not([type="file"]):not([type="radio"]),
textarea {
  -webkit-appearance: none;
}

input,
select,
textarea {
  font-size: 1em;

  &[disabled],
  &[readonly] {
    background: none;
    pointer-events: none;
  }
}

option {
  @include browser-ie11 {
    color: #000;
  }

  @include browser-edge {
    color: #000;
  }
}

::-webkit-search-decoration,
::-webkit-search-cancel-button,
[type="number"]::-webkit-outer-spin-button,
[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

[type="number"] {
  -moz-appearance: textfield;
}

::placeholder {
  color: $b-input-placeholder-color;
  opacity: 1;
}
