a {
  text-decoration: none;
}

%anchor {
  @include theme(color, secondary, (t));

  text-decoration: underline;

  &:visited {
    @include theme(color, tint-rm, (t));
  }

  &:focus,
  &:hover {
    @include theme(color, primary, (t));

    text-decoration: none;
  }
}
