:focus {
  box-shadow: none;
  outline: none;
}

.no-js-keyboard-focus,
.keyboard-focus {
  :focus {
    box-shadow: $b-focus-box-shadow;
  }
}

.keyboard-focused-icon {
  .keyboard-focus &:focus {
    box-shadow: none if($important, !important, null);
    outline: 0;
    stroke: $b-focus-box-shadow-color;
    -webkit-text-stroke: rem(1);
    -webkit-text-stroke-color: $b-focus-box-shadow-color;
    -webkit-text-fill-color: $b-focus-box-shadow-color;
  }
}
