// sass-lint:disable indentation
@font-face {
  font-family: "rl2";
  font-style: normal;
  font-weight: 300;
  src: url("../public/fonts/rl2/rl2-light.woff") format("woff"),
       url("../public/fonts/rl2/rl2-light.woff2") format("woff2");
}

@font-face {
  font-family: "rl2";
  font-style: normal;
  font-weight: 400;
  src: url("../public/fonts/rl2/rl2-regular.woff") format("woff"),
       url("../public/fonts/rl2/rl2-regular.woff2") format("woff2");
}

@font-face {
  font-family: "rl2";
  font-style: normal;
  font-weight: 500;
  src: url("../public/fonts/rl2/rl2-medium.woff") format("woff"),
       url("../public/fonts/rl2/rl2-medium.woff2") format("woff2");
}

@font-face {
  font-family: "rl2";
  font-style: normal;
  font-weight: 700;
  src: url("../public/fonts/rl2/rl2-bold.woff") format("woff"),
       url("../public/fonts/rl2/rl2-bold.woff2") format("woff2");
}

@font-face {
  font-family: "videoplayer";
  font-style: normal;
  font-weight: normal;
  src: url("../public/fonts/videoplayer/videoplayer.woff2") format("woff2"),
  url("../public/fonts/videoplayer/videoplayer.woff") format("woff");
}
