[v-cloak] {
  display: none if($important, !important, null);

  .no-js & {
    display: block if($important, !important, null);
  }
}

.pre-quench .hide-when-pre-quench {
  visibility: hidden;
}
