$u-text-overflow: true !default;

@if ($u-text-overflow) {
  %u-text-overflow-ellipsis,
  .u-text-overflow-ellipsis {
    overflow: hidden if($important, !important, null);
    text-overflow: ellipsis if($important, !important, null);
    white-space: nowrap if($important, !important, null);
  }
}
