$u-visually-hidden: true !default;

@mixin u-visually-hidden {
  border: none if($important, !important, null);
  clip: rect(0 0 0 0) if($important, !important, null);
  height: 1px if($important, !important, null);
  margin: -1px if($important, !important, null);
  overflow: hidden if($important, !important, null);
  padding: 0 if($important, !important, null);
  position: absolute if($important, !important, null);
  white-space: nowrap if($important, !important, null);
  width: 1px if($important, !important, null);
}

@if ($u-visually-hidden) {
  %u-visually-hidden,
  .u-visually-hidden {
    @include u-visually-hidden;
  }
}
