$u-border-definition: rem(1) solid c(grey e8e8e8);

$u-border-types: (
  bottom,
  left,
  right,
  top,
);

.u-border {
  border: $u-border-definition if($important, !important, null);
}

@each $type in $u-border-types {
  .u-border-#{$type} {
    border-#{$type}: $u-border-definition if($important, !important, null);
  }
}
