$u-mix-blend-mode-types: (
  color,
  multiply,
  soft-light,
);

@each $type in $u-mix-blend-mode-types {
  .u-mix-blend-mode-#{$type} {
    opacity: 0.7;

    @supports (mix-blend-mode: $type) {
      mix-blend-mode: $type;
      opacity: 1;
    }
  }
}
