.u-spacing-n-mr-small-until-960 {
  @include mq(959, max-width) {
    margin-right: s(small) * -1 if($important, !important, null);
  }
}

.u-spacing-mb-small-until-768 {
  @include mq(767px, max-width) {
    margin-bottom: s(small) if($important, !important, null);
  }
}

.u-spacing-ml-small-until-960 {
  @include mq(959px, max-width) {
    margin-left: s(small) if($important, !important, null);
  }
}

.u-spacing-p-small-until-768 {
  @include mq(767px, max-width) {
    padding: s(small) if($important, !important, null);
  }
}

.u-spacing-p-zero-until-768 {
  @include mq(767px, max-width) {
    padding: 0 if($important, !important, null);
  }
}

.u-spacing-pb-x-small-until-768 {
  @include mq(767px, max-width) {
    padding-bottom: s(x-small) if($important, !important, null);
  }
}
