.footer-legal {
  align-items: center;
  color: rgba(c(white), 0.8);
  display: flex;
  flex-direction: column;
  font-size: fs(12);
  padding: s(x-small) 0 s(medium);

  @include mq(768px) {
    flex-direction: row;
    padding-top: s(small);
  }
}

.footer-legal-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: s(medium) 0;
}

.footer-legal-links--contact {
  padding-top: 0;

  @include mq(768px) {
    padding-top: s(medium);
  }
}

.footer-legal-links__item {
  display: block;
  padding: 0 s(x-small);

  @include mq(768px) {
    padding: 0 rem(14);

    .footer-legal-links:first-child &:first-child {
      padding-left: 0;
    }
  }
}

.footer-legal-links__text {
  color: inherit;
}

.footer-legal__copyright {
  align-items: center;
  color: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  @include mq(768px) {
    align-items: flex-end;
  }

  @include mq(1100px) {
    align-items: center;
    flex-direction: row-reverse;
  }
}
