.footer {
  background-color: c(gray 4a4a4a);
  fill: c(white);
}

.footer__title {
  color: c(white);
  font-size: fs(14);
  letter-spacing: rem(1);
  line-height: (18 / 14);
  text-transform: uppercase;
}
