.match-clock {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  font-size: fs(20);
  font-weight: fw(700);
  justify-content: space-around;
  order: 2;
  position: relative;
  text-align: center;
  width: $match-time-sportsbets-width-small;

  .match-eqio-\<260 & {
    font-size: fs(16);
  }

  .match-eqio-\>628 & {
    width: $match-time-sportsbets-width-large;
  }

  .match--hero &,
  .match--match-centre & {
    .match-eqio-\>920 & {
      font-size: fs(36);
      line-height: (40 / 36);
    }
  }

  .is-stickio & {
    font-size: fs(20) if($important, !important, null);
  }
}

.match__lozenge {
  min-width: 100%;
  padding-left: rem(4);
  padding-right: rem(4);

  .match--hero & {
    min-width: 0 if($important, !important, null);
  }

  .match-eqio-\<260 & {
    font-size: fs(10);
    line-height: rem(5); // Not a mistake. Crops it to the exact height of the text. Relative numbers have rounding issues
  }

  .match-eqio-\>628 & {
    min-width: 86%;
  }

  .is-stickio & {
    @include mq(767px, max-width) {
      font-size: fs(10) if($important, !important, null);
    }
  }
}

.match__lozenge-abbreviation {
  .match-eqio-\<186 & {
    @extend %u-visually-hidden;
  }
}

.match-clock__time {
  font-size: fs(16);
  font-weight: fw(400);
  letter-spacing: rem(1.1);
  line-height: (20 / 16);

  .match-eqio-\>628 & {
    font-size: fs(18);
    line-height: (23 / 18);
  }

  .match-eqio-\<186 & {
    font-size: fs(12);
    line-height: (14 / 12);
  }

  .match--hero &,
  .match--match-centre & {
    .match-eqio-\>920 & {
      font-size: fs(20);
      line-height: (30 / 20);
    }
  }

  .is-stickio & {
    font-size: fs(14);

    @include mq(768px) {
      font-size: fs(20) if($important, !important, null);
    }
  }
}
