@keyframes match-header-stickio {
  from {
    transform: translateY(rem(-96));
  }

  to {
    transform: translateY(0);
  }
}

.match-odds-wrapper {
  background-color: c(blue sportsbet);
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.match-header,
.match-odds {
  display: flex;
  padding: s(x-small) rem(4);
  text-align: center;
  width: 100%;

  .match-eqio-\>342 & {
    padding: rem(11) s(x-small) rem(12);
  }
}

.match-header {
  color: c(gray 222222);
  flex-wrap: wrap;
  padding-bottom: s(small);
  padding-top: s(small);
  position: relative;

  .match-eqio-\<186 & {
    padding-bottom: rem(4);
    padding-top: rem(4);
  }

  .match--hero & {
    color: c(white);
  }

  .match--match-centre & {
    padding-top: s(x-small);

    .match-eqio-\>628 & {
      padding-bottom: rem(32);
      padding-top: rem(42);
    }
  }

  .match--teamsheet & {
    padding: 0;
  }

  &.is-stickio {
    animation: match-header-stickio 400ms;
    background: c(white);
    box-shadow: 0 rem(2) rem(8) rem(2) rgba(c(black), 0.04);
    padding-bottom: s(x-small) if($important, !important, null);
    padding-top: s(x-small) if($important, !important, null);
    z-index: z(primary stickio-match-header);

    @include mq(768px) {
      padding-bottom: s(small) if($important, !important, null);
      padding-top: s(small) if($important, !important, null);
    }
  }
}

.match-header__title {
  @include responsive-tween(fs(12), (960px: fs(14)));

  color: c(gray 444444);
  letter-spacing: rem(2);
  line-height: (18 / 12);
  padding: 0 s(small);
  text-transform: uppercase;
  width: 100%;

  .match-eqio-\<186 & {
    font-size: fs(10);
  }

  .match--teamsheet & {
    margin-top: s(small);
  }
}

.match-header__audio-stream-player {
  // to align the match-venue-broadcasters border-top with background graphic
  .match-header:not(.is-stickio) & {
    @include mq(675px) {
      margin-bottom: rem(-40);
      margin-top: rem(-10);
    }
  }
}

.match-odds {
  align-items: center;
  color: c(white);
  font-size: fs(14);
  order: 1;

  .match-eqio-\<260 & {
    font-size: fs(12);
  }

  .match-eqio-\>628 & {
    font-size: fs(16);
  }
}

.match-odds-provider {
  display: inline-flex;
  order: 2;
  position: relative;
  width: $match-time-sportsbets-width-small;

  .match-eqio-\<260 & {
    width: rem(52);
  }

  .match-eqio-\>628 & {
    width: $match-time-sportsbets-width-large;
  }

  &::before,
  &::after {
    background: c(white);
    content: "";
    height: 300%;
    position: absolute;
    top: -100%;
    width: 1px; // Some IE users are experience rounding issues where rem(1) renders nothing :(
  }

  &::before {
    left: s(small) * -1;

    .match-eqio-\<186 & {
      left: rem(-4);
    }
  }

  &::after {
    right: s(small) * -1;

    .match-eqio-\<186 & {
      right: rem(-4);
    }
  }
}

.match-odds-provider__svg {
  height: rem(15);
  width: inherit;

  .match-eqio-\>628 & {
    height: rem(18);
  }
}

.match-odd {
  display: flex;
  flex-grow: 1;

  .match-eqio-\>628 & {
    flex-basis: rem(205);
  }
}

.match-odd--home {
  justify-content: center;
  order: 1;

  .match-eqio-\>628 & {
    justify-content: flex-start;
  }
}

.match-odd--away {
  justify-content: center;
  order: 3;

  .match-eqio-\>628 & {
    justify-content: flex-end;
  }
}

.match-odd__spacer {
  .match-eqio-\>342 & {
    display: block;
    flex-basis: rem(40);
    flex-grow: 1;
    flex-shrink: 0;
  }
}

.match-odd__text {
  flex-basis: rem(125);
  flex-grow: 1;
  flex-shrink: 0;
  font-size: fs(13);
  font-weight: fw(500);
  text-align: center;

  .match-eqio-\<260 & {
    flex-basis: rem(80);
    font-size: fs(11);
  }

  .match-eqio-\<236 & {
    flex-basis: rem(50);
  }

  .match-eqio-\>342 & {
    flex-basis: rem(80);
  }

  .match-eqio-\>628 & {
    flex-basis: rem(85);
    flex-grow: 0;
    width: rem(85);
  }

  .match--match-centre & {
    .match-eqio-\>920 & {
      flex-basis: rem(100);
      font-size: fs(16);
      width: rem(100);
    }
  }
}

.match-odd__text--home {
  .match-eqio-\<236 & {
    padding-left: rem(10);
    text-align: left;
  }

  .match-eqio-\<186 & {
    padding-left: rem(4);
  }

  .match-eqio-\>628 & {
    margin-left: rem(120);
    margin-right: 0;
  }

  .match--match-centre & {
    .match-eqio-\>920 & {
      margin-left: rem(200);
    }
  }
}

.match-odd__text--away {
  .match-eqio-\<236 & {
    padding-right: rem(10);
    text-align: right;
  }

  .match-eqio-\<186 & {
    padding-right: rem(4);
  }

  .match-eqio-\>628 & {
    margin-left: 0;
    margin-right: rem(120);
  }

  .match--match-centre & {
    .match-eqio-\>920 & {
      margin-right: rem(200);
    }
  }
}
