.alert-ribbon {
  border-radius: rem(2);
  color: c(white);
  line-height: (22 / 16);
  padding: s(x-small) s(small) s(x-small) s(medium);
  text-align: center;
  width: 100%;
}

.alert-ribbon {
  &.is-hidden {
    visibility: hidden;

    @include mq(960px, max-width) {
      min-height: 0;
      padding: 0;
    }
  }
}

.alert-ribbon--danger {
  background-color: c(red d22630);
}

.alert-ribbon--success {
  background-color: t(nrl secondary);
}

.alert-ribbon--warning {
  background-color: c(orange ed703b);
}

.alert-ribbon-close-button {
  padding: 0;
  width: auto;
}

.alert-ribbon-close-button__icon {
  fill: c(white);
  height: rem(12);
  width: rem(12);
}

.alert-ribbon__action {
  background: none;
  border: none;
  color: c(white);
  letter-spacing: 0;
  padding: 0;
  text-decoration: underline;
  text-transform: none;

  .keyboard-focus &:focus,
  &:hover {
    text-decoration: none;
  }
}
