@mixin thumb {
  -webkit-appearance: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: rem(12);
  position: relative;
  width: rem(12);
}

.audio-player {
  max-width: rem(620);
  width: 100%;
}

.audio-player__slider {
  height: rem(23);
}

.audio-player__percentage-played {
  height: rem(3);
  left: 0;
  position: absolute;
  top: rem(10);
  z-index: z(primary audio-player audio-player__percentage-played);
}

.audio-player__percentage-played--grey {
  background: c(gray d8d8d8);
  width: 100%;
  z-index: z(primary audio-player audio-player__percentage-played--grey);
}

.audio-player__slider-range {
  background: transparent;
  flex-basis: 0; // edge fix
  height: rem(18);
  z-index: z(primary audio-player audio-player__slider-range);

  &:focus {
    outline: none;
  }

  &::-moz-range-thumb {
    @include thumb;
    background-color: currentColor;
  }

  &::-moz-focus-outer {
    border: none;
  }

  &::-ms-thumb {
    @include thumb;
    background-color: currentColor;
    margin-top: rem(1);
  }

  &::-ms-tooltip {
    display: none;
  }

  &::-webkit-slider-thumb {
    @include thumb;
    background-color: currentColor;
  }
}

.audio-player__controls {
  align-items: center;
  color: c(gray 222222);
}

.audio-player__button {
  font-family: ff(videoplayer);
  font-size: fs(26);
  padding: rem(1); // for ios - otherwise the icon garbles
}

.audio-player__volume-slider {
  margin-left: s(small);
  min-width: rem(88);

  @include browser-supports-touch {
    display: none if($important, !important, null);
  }
}
