.browser-support-banner {
  display: none;

  .browser-ie & {
    display: block;
  }

  // following the same pattern as cms-content
  a {
    color: c(white);
    font-weight: fw(500);

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}
