.button {
  background: none;
  border: rem(2) solid transparent;
  border-radius: rem(4);
  display: block;
  font-size: fs(14);
  font-weight: fw(500);
  letter-spacing: rem(2);
  line-height: (21 / 14);
  margin: 0 auto;
  max-width: rem(400);
  padding: rem(14);
  padding-bottom: rem(13);
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: all ease-out .25s;
  width: 100%;

  @include mq(768px) {
    letter-spacing: rem(4);
  }
}

.button--pv-xs {
  padding-bottom: rem(6);
  padding-top: rem(7);
}

.button--small {
  border-width: rem(1);
  color: c(gray 444444);
  font-size: fs(12);
  letter-spacing: rem(1);
  line-height: (18 / 12);
  padding: s(x-small);
}

.button--subdued {
  border-color: c(gray dcdcdc);
}

.button--no-border {
  border-color: transparent;
  display: inline-block;
  line-height: 1;
  width: auto;
}

.button--all-white {
  border-color: c(white);
}

.button__text {
  color: c(white);

  .button--hollow & {
    color: c(gray 222222);
  }

  .button--on-dark & {
    color: c(white);
  }

  .button--all-white & {
    color: c(white);
  }
}

.button__svg {
  height: rem(12);
  position: absolute;
  right: s(small);
  top: 50%;
  transform: translateY(-50%);
  width: rem(12);

  &.a-spin {
    top: calc(50% - #{rem(12 / 2)}); // TODO: Figure out a better way to handle this
  }

  .button--no-border & {
    right: 0;
  }

  .button--all-white & {
    color: c(white);
    fill: c(white);
  }
}
