.button-group {
  display: flex;
  min-width: rem(282);
}

.button-group-item {
  display: flex;
}

.button-group-item__button {
  background: transparent;
  border-right: none;
  color: c(gray 444444);
  font-size: fs(14);
  font-weight: fw(500);
  letter-spacing: rem(1.75);
  min-width: rem(120);
  padding: rem(10) 0 rem(8);
  text-transform: uppercase;
  width: 100%;

  &:hover,
  .keyboard-focus &:focus,
  &.is-active {
    color: c(white);
  }

  &.is-active {
    pointer-events: none;
  }

  .is-active + .button-group-item > & {
    border-left-color: transparent;
  }

  :first-child > & {
    border-radius: rem(5) 0 0 rem(5);
  }

  :last-child > & {
    border-radius: 0 rem(5) rem(5) 0;
    border-right: rem(1) solid c(gray d8d8d8);
  }

  .button-group-item--single-read-only & {
    background: none;
    border: none;
    padding: rem(10) 0;

    &:hover,
    .keyboard-focus &:focus {
      color: inherit;
    }
  }
}
