.card-profile-stats {
  color: c(gray 222222);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.card-profile-stats-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%; // ie fix

  @include mq(375px) {
    justify-content: space-between;
  }
}

.card-profile-stats__title {
  font-size: fs(20);
  letter-spacing: rem(1);
  line-height: (28 / 20);
  margin-bottom: rem(6);
  min-width: 100%;
  text-transform: uppercase;
}

.card-profile-stat {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: rem(160);

  @include mq(600px) {
    width: rem(200);
  }

  @include mq(367px, max-width) {
    &:not(:first-child) {
      padding-top: s(small);
    }
  }

  &:only-child {
    margin: 0 auto;
  }

  &:nth-child(3) {
    @include mq(527px, max-width) {
      margin: 0 auto;
      padding-top: s(small);
    }
  }

  &:nth-last-child(3) + & {
    @include mq(528px) {
      order: 1;
    }
  }

  .match-centre-head-to-head-donut__outer-wrapper & {
    width: rem(228);
  }

}

.card-profile-stat__name {
  font-size: fs(14);
  letter-spacing: rem(1);
  line-height: (17 / 14);
  min-height: rem(40);
  text-transform: uppercase;
  width: 100%; // ie fix

  @include mq(768px) {
    font-size: fs(16);
    letter-spacing: rem(2);
  }
}

.card-profile-stat__value {
  flex-grow: 1;
  font-size: fs(26);
  line-height: (38 / 26);

  @include mq(768px) {
    font-size: fs(36);
  }
}

.card-profile-stat__value--text {
  font-size: fs(14);
  line-height: (20 / 14);

  @include mq(768px) {
    font-size: fs(18);
    line-height: (27 / 18);
  }
}
