// NB. This is affected by .s-cms-content. If you make changes, ensure you test it there

.card-team-mate {
  align-items: center;
  display: flex;
  font-family: ff(rl2); // .s-cms-content requirement
  min-height: rem(88);
  overflow: hidden;
  padding: 0 s(small);
  position: relative;
  text-decoration: none if($important, !important, null); // .s-cms-content requirement
}

.card-team-mate__name {
  font-size: fs(16);
  line-height: (18 / 16);
}

.card-team-mate__position {
  color: c(gray 444444);
  font-size: fs(14);
  line-height: (24 / 14);
}

.card-team-mate-wrap {
  bottom: 0;
  height: 100%;
  position: absolute;
}

.card-team-mate-wrap--image {
  align-items: flex-end;
  display: flex;
  right: s(small);
}

.card-team-mate__image {
  height: rem(83);
  z-index: z(primary card-team-mate__image);
}
