$slash-size: rem(41);

.chapter-title__text {
  font-size: fs(12);
  letter-spacing: rem(4);
  line-height: (41 / 12);
}

.chapter-title__slash-wrapper {
  width: $slash-size;

  &::before {
    content: "|";
    font-size: fs(48);
    font-weight: 300;
    left: rem(13);
    position: absolute;
    top: rem(-29);
    transform: translateY(rem(20)) translateX(rem(3)) rotate(36deg);
  }
}
