.club-profile-footer {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: s(large) s(small);
  position: relative;
  width: 100%;
}

.club-profile-footer__bg-angle {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.club-profile-footer__bg-angle--highlight {
  left: 0;
  transform: skewX(-30deg) translateX(-100%) translateX(#{rem(24)});
}

.club-profile-footer__bg-angle--secondary {
  left: 0;
  opacity: 0.2;
  transform: skewX(-30deg) translateX(-100%) translateX(#{rem(68)});
}

.club-profile-footer-content {
  color: c(white);
  position: relative;
  text-align: center;
  width: 100%;
}

.club-profile-footer__button {
  margin: 0 auto;
}
