.collapsible {
  align-items: center;
  background: none;
  border: none;
  color: inherit;
  display: flex;
  justify-content: space-between;
  opacity: 1;
  padding: 0;
  width: 100%;
}

.collapsible-target {
  -webkit-backface-visibility: hidden;
  overflow: hidden;
  transition: all 0.4s ease;

  &.is-collapsed {
    height: 0 if($important, !important, null);
    visibility: hidden;
  }

  &.is-expanded {
    visibility: visible;
  }
}

.collapsible__svg {
  align-self: center;
  height: rem(12);
  margin-left: auto;
  width: rem(12);
}
