$combox__input-min-height: rem(30);

.combobox__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  &.is-expanded {
    z-index: z(primary above-inherit);
  }
}

.combobox__input {
  min-height: $combox__input-min-height;
  order: 1;
  width: 100%;

  &[readonly] {
    background: c(white);
    padding-right: s(small);
    pointer-events: auto;

    &.o-text-input {
      color: t(nrl secondary);
    }
  }
}

.combobox__input-arrow {
  height: rem(12);
  margin-top: rem(14 - 9 - (12 / 2)); //9 is bottom padding of input box, 14 is height of space at the top - label, 12 is the height of this
  position: absolute;
  right: 0;
  top: 50%;
  width: rem(12);
}

.combobox-listbox {
  background: c(white);
  display: none;
  margin-top: rem(-2);
  max-height: rem(61 * 5);
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;

  .combobox__wrapper.is-expanded & {
    display: block;
  }
}

.combobox-listbox__item {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: fs(16);
  padding: rem(10);

  &:last-child {
    border-bottom: none;
  }

  .keyboard-focus &:focus,
  &:hover {
    background: c(gray f6f6f6);
    color: c(core text);
  }

  &.is-selected {
    background: c(gray acacac) if($important, !important, null);
    color: c(white);
  }
}

.combobox-listbox__svg {
  height: rem(40);
  margin-right: rem(10);
  width: rem(40);
}
