$custom-scrollbar__scrollbar-original-scrollbar-adjuster: 50px; // px as scrollbar sizes don't change with browser zoom/font size
$custom-scrollbar__thumb-block: rem(-1000);
$custom-scrollbar__thumb-offset: rem(3);
$custom-scrollbar__thumb-size: rem(8);

custom-scrollbar {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

// sass-lint:disable force-attribute-nesting no-qualifying-elements
custom-scrollbar[direction="horizontal"],
custom-scrollbar[direction="horizontal"] [slot="custom-scroll-target"] {
  overflow-x: auto;
}

custom-scrollbar[direction="vertical"],
custom-scrollbar[direction="vertical"] [slot="custom-scroll-target"] {
  overflow-y: auto;
}
// sass-lint:enable force-attribute-nesting no-qualifying-elements

.custom-scrollbar {
  overflow: hidden;
  position: relative;
}

.custom-scrollbar--horizontal {
  width: 100%;
}

.custom-scrollbar--vertical {
  height: 100%;
}

.custom-scrollbar__scroller {
  // Hide the native WebKit scrollbar, just in case
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-track {
    height: 0;
    opacity: 0;
    width: 0;
  }

  .custom-scrollbar--horizontal & {
    overflow-x: scroll;
    padding-bottom: $custom-scrollbar__scrollbar-original-scrollbar-adjuster;
    width: 100%;
  }

  .custom-scrollbar--vertical & {
    height: 100%;
    overflow-y: scroll;
    padding-right: $custom-scrollbar__scrollbar-original-scrollbar-adjuster;
    width: calc(100% + #{$custom-scrollbar__scrollbar-original-scrollbar-adjuster});
  }
}

.custom-scrollbar__thumb {
  appearance: none;
  background: c(gray dcdcdc);
  border: none;
  border-radius: rem(4);
  cursor: default;
  opacity: 0;
  padding: 0;
  position: absolute;
  transition: opacity ease 0.15s;
  z-index: 1000; // Doesn't belong anywhere in `$z-indexes`

  .custom-scrollbar--horizontal & {
    bottom: $custom-scrollbar__thumb-offset;
    height: $custom-scrollbar__thumb-size;
    left: 0;
  }

  .custom-scrollbar--vertical & {
    right: $custom-scrollbar__thumb-offset;
    top: 0;
    width: $custom-scrollbar__thumb-size;
  }

  @include browser-supports-touch {
    pointer-events: none;
  }

  .custom-scrollbar:hover &,
  .custom-scrollbar.is-dragging &,
  .custom-scrollbar.is-floating & {
    opacity: 0.8;
  }

  &::before {
    content: "";
    position: absolute;

    .custom-scrollbar--horizontal & {
      bottom: $custom-scrollbar__thumb-offset * -1;
      left: $custom-scrollbar__thumb-block;
      right: $custom-scrollbar__thumb-block;
      top: 0;
    }

    .custom-scrollbar--horizontal.is-dragging & {
      top: $custom-scrollbar__thumb-block;
    }

    .custom-scrollbar--vertical & {
      bottom: $custom-scrollbar__thumb-block;
      left: 0;
      right: $custom-scrollbar__thumb-offset * -1;
      top: $custom-scrollbar__thumb-block;
    }

    .custom-scrollbar--vertical.is-dragging & {
      left: $custom-scrollbar__thumb-block;
    }
  }

  .custom-scrollbar--hidden-thumb & {
    opacity: 0 if($important, !important, null);
  }
}
