// used with: o-shadowed-box u-spacing-p-small-until-768 u-spacing-p-medium
.dl-card {
  display: grid;
  grid-gap: s(small);

  @include mq(960px) {
    grid-gap: s(medium);

    // for the bio card only at this stage
    &:not(.dl-card--one-child) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

// used with: o-text u-border-bottom u-display-flex
.dl-card-item {
  padding-bottom: s(small);

  &:last-child {
    border: none !important; // to override the util 
    padding-bottom: 0;
  }

  @include mq(960px) {
    padding-bottom: s(medium);

    &:nth-last-child(-n+2) {
      border: none !important; // to override the util 
      padding-bottom: 0;
    }
  }

  // for the bio card only at this stage
  .dl-card--one-child & {
    @include mq(959px, max-width) {
      flex-direction: column;
      margin-bottom: s(x-small);
    }
  }
}

// this class creates the stacking effect on mobile
.dl-card-item:nth-child(even) {
  @include mq(959px, max-width) {
    order: 1;
  }
}

// used with: u-font-weight-500 u-flex-shrink-0
.dl-card-item__label {
  margin-right: s(small);
  width: rem(130);

  @include mq(768px) {
    margin-right: s(medium);
    width: rem(160);
  }
}