$draw-overview-arrow-width: rem($draw-overview-arrow-width-value); // defined in app/_vars.scss
$draw-overview-border: rem(1) solid c(gray ededed);
$draw-card-match-width: rem(142);
$draw-overview-card-team__svg-size: rem(20);
$draw-overview-card-team--bye__svg-size: rem(40);

.draw-overview-wrapper {
  height: rem(81);
  overflow: hidden;
  position: relative;
}

.draw-overview {
  overflow-x: scroll;
  width: 100%;
}

.draw-overview-loader {
  background: c(white);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: z(primary draw-overview-loader);
}

.draw-overview-error-message {
  color: c(gray 444444);
  text-align: center;
  width: 100%;
}

.draw-overview-card {
  background-color: c(white);
  border: $draw-overview-border;
  border-left: none;
  display: inline-block;
  flex-basis: $draw-card-match-width;
  flex-shrink: 0;
}

.draw-overview-list-item {
  min-width: $draw-card-match-width;
}

.draw-overview-card--bye {
  flex-basis: auto;
  min-width: $draw-card-match-width;
}

.draw-overview-card--link {
  flex-basis: rem($draw-overview-link-width-value);
  position: relative;
  z-index: z(primary draw-overview-card--link);

  .draw-overview--hidden-arrows & {
    flex-basis: $draw-overview-arrow-width;
  }
}

.draw-overview-card--marker {
  flex-basis: rem(66);
  text-align: center;
}

.draw-overview-card--marker__text {
  font-size: fs(12);
  font-weight: fw(400);
  letter-spacing: rem(0.5);
  line-height: (18 / 12);
}

.draw-overview-card__button {
  border: rem(1) solid c(gray dcdcdc);
  border-radius: rem(4);
  color: c(gray 444444);
  font-size: fs(12);
  letter-spacing: rem(0.86);
  line-height: (18 / 12);
  padding: s(x-small) s(small);
  text-align: center;
  text-transform: uppercase;

  .draw-overview--hidden-arrows & {
    display: none;
  }
}

.draw-overview-card__button--end {
  margin-left: auto;
  margin-right: 0;
}

.draw-overview-card__clock {
  line-height: (11 / 10);
  margin-left: rem(6);
}

.draw-overview-card__time {
  font-size: fs(11);
  line-height: (14 / 11);
  margin-bottom: rem(5);
  text-transform: uppercase;
}

.draw-overview-card-teams {
  font-size: fs(12);
  line-height: (16 / 12);
}

.draw-overview-card-team {
  &:first-child {
    margin-bottom: rem(3);
  }
}

.draw-overview-card-team__logo  {
  height: $draw-overview-card-team__svg-size;
  margin-right: rem(6);
  width: $draw-overview-card-team__svg-size;

  .draw-overview-card--bye & {
    height: $draw-overview-card-team--bye__svg-size;
    margin-left: rem(6);
    width: $draw-overview-card-team--bye__svg-size;
  }
}

.draw-overview-card-team__name {
  margin-right: rem(6);
}

.draw-overview-button {
  border: $draw-overview-border;
  height: 100%;
  left: 0;
  position: absolute;
  width: $draw-overview-arrow-width;

  @include browser-supports-touch {
    display: none;
  }
}

.draw-overview-button--end {
  left: auto;
  right: 0;
}

.draw-overview-button__svg {
  height: rem(16);
  width: rem(16);
}

