.gauge {
  display: flex;
}

.gauge__bar {
  margin-right: s(x-small);
  min-width: 0.5%;
  transition: width 0.3s ease-in-out;
}

.gauge__label {
  font-size: fs(14);
  min-width: rem(48);
}
