$jumbo-card-max-padding: rem(54);

.jumbo-card {
  @include responsive-tween(s(small), $jumbo-card-max-padding, padding);
  display: flex;

  @include mq(767px, max-width) {
    flex-direction: column;
  }
}

.jumbo-card--reversed {
  @include mq(768px) {
    flex-direction: row-reverse;
  }
}

.jumbo-card-hero,
.jumbo-card__content {
  @include mq(768px) {
    width: 50%;
  }
}

.jumbo-card-hero__inner {
  padding-bottom: percentage(420 / 585);
  position: relative;
}

.jumbo-card-hero__image {
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.jumbo-card-hero__logo {
  opacity: 0.12;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.jumbo-card__spacer {
  @include responsive-tween(s(small), $jumbo-card-max-padding, flex-basis);
}

.jumbo-card__title {
  @include responsive-tween(fs(20), (1200px: fs(32)));

  font-weight: fw(500);
  line-height: (22 / 20);
  margin-bottom: s(small);
  text-transform: uppercase;
}

.jumbo-card__text {
  line-height: (24 / 16);

  @include mq(1200px) {
    font-size: fs(18);
  }
}

.jumbo-card__button {
  margin-top: rem(25);

  @include mq(768px) {
    max-width: rem(350);
  }
}
