// NB. This is affected by .s-cms-content. If you make changes, ensure you test it there
.locked-content-video-wrapper {
  position: relative;

  .browser-ie & {
    min-height: rem(1);
  }
}

.locked-content {
  align-items: center;
  color: c(gray 767676);
  display: flex;
  flex-direction: column;
  font-family: ff(rl2); // .s-cms-content requirement
  margin-left: auto;
  margin-right: auto;
  max-width: rem(500);
  padding: rem(12) rem(12) s(x-small);
  text-align: center;
  z-index: z(primary above-inherit);

  @include mq(660px) {
    margin: 0;
    padding: s(large);
  }

  .locked-content-video-wrapper & {
    @include responsive-tween(fs(12), fs(16));
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - #{s(x-small)});

    @include mq(1199px, max-width) {
      padding: s(small);
    }
  }
}

.locked-content__intro,
.locked-content__secondary-option {
  font-size: fs(12) if($important, !important, null); // .s-cms-content requirement
  line-height: (20 / 12);

  @include mq(660px) {
    font-size: fs(14) if($important, !important, null);
  }
}

.locked-content__intro {
  margin-bottom: s(x-small);

  @include mq(660px) {
    margin-bottom: rem(17);
  }
}

.locked-content__button {
  margin-bottom: rem(2);
  max-width: rem(300);
}

.locked-content__secondary-option {
  @include mq(660px) {
    margin: rem(10) 0 rem(12);
  }
}

.locked-content__secondary-button {
  //TODO: Create text only button variation with no left padding
  letter-spacing: rem(2);

  @include mq(660px, max-width) {
    padding-left: rem(6);
  }
}

.locked-content__learn-more-prompt {
  font-size: fs(12);
  line-height: rem(16);
  margin-top: rem(1);

  @include mq(660px) {
    font-size: fs(14);
  }
}

.locked-content__learn-more-prompt-anchor {
  text-decoration: none if($important, !important, null);
}
