.logo-card {
  padding: s(small);
  text-decoration: none if($important, !important, null);

  @include mq(768px) {
    padding: s(medium);
  }
}

.logo-card--logo {
  @include responsive-tween(rem(125), rem(150), height width); // magic numbers until we see what they look like in qa

  .logo-card--premier & {
    @include responsive-tween(rem(140), rem(170), height width); // magic numbers until we see what they look like in qa
  }
}

.logo-card--title {
  @include responsive-tween(fs(18), fs(22));

  color: c(gray 222222);
  line-height: (28 / 22);
}
