$my-account-membership__logo-size: rem(90);
$my-account-access__svg--small-size: rem(34);

.my-account-card {
  // small screen padding handled by util class
  @include mq(768px) {
    padding: rem(40);
  }
}

.my-account-card__text {
  color: c(gray 767676);
  font-size: fs(14);
  line-height: (18 / 14);
  margin-bottom: s(small);
  text-align: center;

  @include mq(768px) {
    margin-bottom: rem(40);
  }
}

.my-account-access__svg {
  height: rem(70);
}

.my-account-access__svg--small {
  height: $my-account-access__svg--small-size;
  width: $my-account-access__svg--small-size;
}

.my-account-membership__logo {
  height: $my-account-membership__logo-size;
  width: $my-account-membership__logo-size;
}
