.nrl-account__title {
  align-items: center;
  background-color: c(white);
  display: flex;
  padding: rem(10) rem(16);
  position: relative;
  text-transform: uppercase;
  z-index: z(primary page-title);

  @include mq(600px) {
    padding: rem(10) rem(24);
  }
}

.nrl-account__page-title {
  @include responsive-tween(fs(24), (600px: fs(28)));

  letter-spacing: rem(2);
  line-height: (36 / 24);
  position: relative;

  @include mq(600) {
    line-height: (38 / 32);
  }
}

.nrl-account-dialog {
  display: block;
  margin: auto;
  min-height: 100vh;
  padding: s(small) 0;
  position: relative;
  width: 100%;

  @include mq(768px) {
    padding: s(small);
  }
}

.nrl-account-dialog__auth {
  text-align: center;
}

.nrl-account-dialog__inner {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  max-width: rem(1270);
  min-height: 100vh;
  width: 100%;

  @include mq(768px) {
    flex-direction: row;
    overflow: hidden;
  }
}

.nrl-account-dialog__form {
  align-items: center;
  display: flex;
  height: auto;
  justify-content: center;
  margin: auto;
  padding: rem(16);
  width: 100%;

  @include mq(768px) {
    min-height: 80vh;
    padding: rem(32) rem(16);
    width: 66%;
  }
}

.nrl-account-dialog__modal-heading {
  color: c(white);
  flex-shrink: 0;
  font-weight: fw(500);
  line-height: 1;
  padding: 0 s(small) s(small);
  text-align: left;
  text-transform: uppercase;
  width: 100%;

  @include mq(768px) {
    display: none;
  }
}

.nrl-account__subtitle {
  font-size: fs(16);
  font-weight: fw(700);
  line-height: (20 / 16);
}

.nrl-account-cta {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.nrl-account-cta--mobile {
  min-height: rem(250); // this is cater for the cta-text.
}

.nrl-account-cta--mobile .nrl-account-cta {
  position: absolute;
  top: 0;
}

.nrl-account-cta--opacity {
  opacity: 0.2;
}

.nrl-account-cta__text {
  -webkit-font-smoothing: subpixel-antialiased;
  color: c(gray cfcfcf);
  padding: s(small) s(medium) s(small) s(small);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: z(primary above-inherit);

  @include mq(768px) {
    font-size: fs(16);
    line-height: (24 / 16);
    padding-left: rem(60);
    padding-right: rem(80);
    top: rem(200);
    transform: none;
  }
}

.nrl-account-dialog__anchor {
  @extend %anchor;
}

.nrl-account-view {
  align-items: center;
  color: c(gray 666666);
  display: flex;
  justify-content: center;
  line-height: (20 / 16);
  padding: s(small);
  width: 100%;
}

.nrl-account-view__inner {
  max-width: rem(400);
  padding: s(medium) 0;
  width: 100%;
}

.nrl-account-view__title {
  @extend %u-visually-hidden;

  color: c(gray 222222);
  font-size: fs(20);
  font-weight: fw(700);
  line-height: 1;
  margin-bottom: rem(21);
  padding-top: rem(21);
  text-align: center;
  text-transform: uppercase;
  width: 100%;

  @include mq(768px) {
    clip: auto if($important, !important, null);
    height: auto if($important, !important, null);
    margin-bottom: rem(21) if($important, !important, null);
    position: static if($important, !important, null);
    width: 100% if($important, !important, null);
  }
}

.nrl-account-view__existing-account-prompt {
  font-size: fs(14);
  line-height: (20 / 12);
}

.nrl-account-view__login-button {
  letter-spacing: rem(2);
  padding-left: rem(6);
}

.nrl-account-switch__title {
  font-size: fs(24);
  line-height: rem(28);
}

.nrl-account-switch__image {
  border-radius: 50%;
  height: rem(35);
  margin-right: rem(10);
  overflow: hidden;
  width: rem(35);
}

.nrl-account-switch__text {
  flex: 1;
}

.nrl-account-switch__alt-account-svg {
  // designs are 18px, making 19px so it centers properly and doesnt look funny
  height: rem(19);
  width: rem(19);
}

.nrl-account-view__terms {
  font-size: fs(12);
  line-height: (16 / 12);
  margin-top: rem(9);
}

.nrl-account__toggle-input-label {
  color: c(gray 767676);
  display: block;
  font-size: fs(16);
  line-height: (21 / 14);
  margin-top: rem(-6);
}

.nrl-account-pin__input {
  border: none;
  color: c(gray 222222);
  font-size: fs(24);
  letter-spacing: rem(8);
  line-height: rem(32);
  max-width: 115px;
  text-align: center;
  text-indent: rem(16);

  &[aria-invalid="true"] {
    border: rem(2) solid c(red d0011b);
  }

  &.is-valid {
    border: rem(2) solid c(green 009639);
  }

  &::-webkit-input-placeholder {
    color: c(gray 999999);
    letter-spacing: rem(16);

  }

  &::-moz-placeholder {
    color: c(gray 999999);
    letter-spacing: rem(16);
  }

  &:-ms-input-placeholder {
    color: c(gray 999999);
    letter-spacing: rem(16);
  }

  &:-moz-placeholder {
    color: c(gray 999999);
    letter-spacing: rem(16);
  }
}

.nrl-account-auth__form {
  min-height: calc(100vh - #{rem(300)});
  padding: rem(35) 0;

  @include mq(600px) {
    max-width: rem(500);
  }
}

.nrl-account-auth__title {
  color: c(gray 222222);
  font-size: fs(24);
  font-weight: fw(500);
  line-height: 1.25;
  margin-bottom: rem(24);
  padding-top: 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.nrl-account-auth__modal-heading {
  color: c(white);
  display: block;
  flex-shrink: 0;
  font-size: fs(20);
  font-weight: fw(500);
  line-height: 1;
  padding: s(medium) s(small);
  text-transform: uppercase;
}

.nrl-account-auth__modal-logo {
  height: rem(40);
}

.nrl-account-auth__inner {
  padding: s(small);

  @include mq(600px) {
    padding: s(medium);
  }
}

.nrl-account-verify__title {
  color: c(gray 222222);
  font-size: fs(16);
  font-weight: fw(400);
  line-height: rem(20);
  margin-bottom: rem(40);
  padding-top: rem(16);
  text-align: center;
  width: 100%;
}

.nrl-account-verify__icon {
  height: rem(30);
  position: absolute;
  right: -2.5rem;
  top: calc(50% - #{rem(9)});
  transform: translateY(-50%);
  width: rem(30);
}

.nrl-account-logo__desktop {
  max-width: rem(150);
}

.nrl-account-logo__mobile {
  max-width: rem(150);
}

.nrl-account-logo__footer {
  max-width: rem(50);
}
