.package-card-hero {
  overflow: hidden;
  padding-bottom: percentage(270 / 310);
  position: relative;
  text-transform: uppercase;
}

.package-card-hero__overlay {
  height: 100%;
  opacity: 0.8;
  position: absolute;
  width: 100%;
  z-index: z(primary package-card hero__overlay);
}

.package-card-hero__overlay--angled {
  right: 70%; // no maths here, just trial and error
  transform: skewX(30deg);
  width: 100%;
}

.package-card-hero__image {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: z(primary package-card hero__image);
}

.package-card-hero__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: z(primary package-card hero__content);
}

.package-card__title {
  @include responsive-tween(fs(26), fs(22));

  flex-grow: 1;
  font-weight: fw(500);
  line-height: (28 / 26);

  @include mq(768px) {
    line-height: (38 / 34);
  }
}

.package-card-price {
  @include responsive-tween(fs(52), fs(60));

  font-weight: fw(500);
  letter-spacing: rem(-1.5);
  line-height: (52 / 57);
  position: relative;
}

.package-card-price__dollar {
  font-size: fs(20);
  position: absolute;
  right: 100%;
  top: rem(4);
}

.package-card__prefix {
  font-size: fs(13);
  letter-spacing: rem(1.63);
  line-height: 1;
  padding-left: rem(3);
}

.package-card__length {
  font-size: fs(12);
  letter-spacing: rem(1.5);
  line-height: (18 / 12);
  padding-left: rem(3);
}

// class is also used in link card
.package-card__summary {
  color: c(gray 222222);
  line-height: (24 / 16);

  @include mq(768px) {
    font-size: fs(18);
  }
}
