$partner-logo-size: rem(80);
$partner-logo-size-large: rem(120);

.partner-groups {
  @include mq(1399px, max-width) {
    flex-wrap: wrap;
  }
}

.partner-group {
  flex-basis: 100%;
  margin-bottom: rem(30);

  @include mq(768px) {
    flex-basis: calc(100% - #{rem(250)});
    flex-grow: 1;
  }

  @include mq(1400px) {
    flex-basis: 25%;
  }

  &:first-child {
    @include mq(768px) {
      flex-basis: rem(250);
      flex-grow: 0;
    }
  }

  &:only-child {
    flex-grow: 1;
  }

  &:last-child {
    @include mq(1400px) {
      flex-basis: 50%;
      flex-grow: 1;
    }
  }
}

.partner-group-list {
  display: grid;
  grid-column-gap: s(small);
  grid-row-gap: s(medium);
  grid-template-columns: repeat(auto-fit, minmax($partner-logo-size, 1fr));

  .partner-group:first-child & {
    grid-template-columns: repeat(auto-fit, minmax($partner-logo-size-large, 1fr));
  }
}

.partner__logo {
  height: $partner-logo-size;
  width: $partner-logo-size;
}

.partner__logo--major {
  height: $partner-logo-size-large;
  width: $partner-logo-size-large;
}
