// Currently only for Kayo
.partner-link {
  margin-bottom: rem(36);
  margin-top: rem(20);
}

.partner-link__text {
  @include responsive-tween(fs(12), fs(14));
}

.partner-link__logo {
  height: rem(45);
  width: rem(45);
}

.partner-link__button-text {
  @include responsive-tween(fs(11), fs(12));
  line-height: (18 / 12);
  text-transform: uppercase;
}

.partner-link__svg {
  height: rem(12);
  width: rem(12);
}
