.playlist {
  display: flex;
  min-height: rem(180);

  @include mq(960px) {
    display: block;
  }
}

.playlist__item {
  margin-right: s(small);
  min-width: rem(200);

  &:last-child {
    margin-right: 0;
  }

  @include mq(960px) {
    margin-bottom: s(small);
    margin-right: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.playlist__link {
  align-items: flex-start;
  color: c(white);
  display: flex;

  @include mq(959px, max-width) {
    flex-direction: column;
  }
}

.playlist__thumbnail {
  position: relative;
  transition: opacity 0.2s;

  > .content-type-indicator {
    bottom: 0;
    left: 0;
    position: absolute;
  }

  @include mq(960px) {
    flex-basis: 53%;
  }

  .playlist:hover & {
    opacity: 0.6;
  }

  .playlist__link:hover & {
    opacity: 1;
  }
}

.playlist__item-title {
  @include responsive-tween((960px: fs(12)), (1280px: fs(16)), font-size, false);

  flex-basis: 50%;
  font-size: fs(14);
  font-weight: fw(500);
  line-height: (20 / 16);
  max-width: 100%;
  padding: s(small) 0 0;

  @include mq(960px) {
    margin-top: rem(-3);
    padding: 0 s(small);
  }
}
