.recaptcha {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: right;

  @include mq(359px, max-width) {
    transform: scale(.95);

    .vue-cms-form &,
    .my-account__membership-form & {
      max-width: rem(240);
      transform: scale(0.8);
    }
  }
}

.recaptcha__validation-message {
  min-width: rem(304);

  @include mq(359px, max-width) {
    min-width: rem(284) if($important, !important, null);
  }
}
