@mixin keyboard-highlight-visible {
  .keyboard-focus &:focus {
    // ensure blue focus border is consistent on all sides
    height: calc(100% - #{rem(4)});
    margin-top: rem(2);
  }
}

.search-input {
  align-items: stretch;
  border-radius: 0 rem(4) rem(4) 0;
  display: flex;
  height: rem(44);
  max-width: rem(634);
  position: relative;
  width: 100%;
}

.search-input__input {
  border: rem(1) solid rgba(c(gray d8d8d8), 0.5);
  border-right: none;
  color: c(gray 222222);
  flex-grow: 1;
  height: 100%;
  padding: 0 rem(44) 0 rem(14);

  &::-ms-clear {
    display: none;
  }

  @include keyboard-highlight-visible;

  @include mq(360px, max-width) {
    &::placeholder {
      font-size: fs(14);
    }
  }

  @include mq(767px) {
    padding-right: rem(54);
  }
}

.search-input-clear {
  background: transparent;
  border: none;
  height: 100%;
  padding: 0;
  position: absolute;
  right: rem(48);
  width: rem(52);

  &.is-hidden {
    display: none;
  }

  @include keyboard-highlight-visible;

  @include mq(768px) {
    right: rem(54);
  }
}

.search-input-clear__svg {
  fill: c(gray 767676);
  height: rem(12);
  width: rem(12);
}

.search-input-submit {
  border: none;
  border-radius: 0 rem(4) rem(4) 0;
  padding: 0;
  width: rem(48);

  @include mq(768px) {
    flex-basis: rem(54);
  }
}

.search-input-submit__svg {
  height: rem(16);
  width: rem(16);
}
