.section-title {
  @include responsive-tween(s(small), s(medium), padding-bottom);

  align-items: center;
  display: flex;
  flex-wrap: wrap;

  & + & {
    padding-top: 0;
  }
}

.section-title--sub {
  padding: s(small) 0;

  @include mq(960px) {
    padding: rem(32) 0 s(medium);
  }
}

.section-title__header {
  @include responsive-tween(rem(18), rem(26));
  @include responsive-tween(rem(1.38), rem(2), letter-spacing);

  align-items: center;
  display: flex;
  font-weight: fw(500);
  text-transform: uppercase;

  .section-title--mid & {
    font-size: fs(20);
  }

  .section-title--sub & {
    @include responsive-tween(fs(12), (768px: fs(16)));

    color: c(core text);
    font-weight: fw(400);
  }
}

.section-title__header-slash {
  margin-left: rem(4);
}

.section-title__logo {
  @include responsive-tween(rem(24), (768px: rem(32)), height);

  margin-left: auto;
}

.section-title__svg {
  height: 100%;
}

.section-title__svg--inline {
  @include responsive-tween(rem(52), rem(78), height width);
  margin-right: s(small);
}

.section-title__blurb {
  min-width: 100%;
  padding-top: rem(4);

  @include mq(768px) {
    font-size: fs(16);
    line-height: (20 / 16);
  }
}
