.shop-card {
  font-size: fs(20);
}

.shop-card-hero {
  overflow: hidden;
  padding-bottom: percentage(240 / 310);
  position: relative;
}

.shop-card-hero__image,
.shop-card-hero__tag {
  position: absolute;
  top: 0;
}

.shop-card-hero__image {
  left: 50%;
  transform: translateX(-50%);
}

.shop-card-price__strikethrough {
  &:before {
    border-bottom: rem(2) solid c(gray 888888);
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 100%;
  }
}

.shop-card-price__dollar {
  font-size: fs(30);
}

