.social-login-button {
  align-items: center;
  border-color: c(gray d8d8d8);
  display: flex;
  font-family: ff(apple);
  font-size: fs(18);
  font-weight: fw(400);
  padding: rem(5);
  text-transform: none;
  // TODO: Hover states when defined
}

.social-login-button--transparent-border {
  border-color: transparent;
}

.social-login-button__icon {
  align-items: center;
  display: flex;
  height: rem(34);
  padding-left: rem(10);
  width: rem(45);
}

.social-login-button__svg {
  height: rem(19);
  width: rem(19);
}

.social-login-button__label {
  // reset to default
  letter-spacing: 0;
}
