.social-icon-link {
  align-items: center;
  border-radius: rem(5);
  display: inline-flex;
  fill: c(gray 222222);
  height: rem(40);
  justify-content: center;
  margin-right: s(x-small);
  width: rem(40);
}

.social-icon-link--on-dark {
  fill: c(gray eaeaea);
}

.social-icon-link--network-whats-app {
  @include mq(1024px) {
    display: none;
  }
}

.social-icon-link__svg {
  height: rem(17);
  width: rem(17);
}
