.text-separator__content-dividers {
  display: inline-block;
  font-size: fs(14);
  font-weight: fw(500);
  position: relative;
  text-transform: uppercase;
}

.text-separator__content-dividers {
  &::before,
  &::after {
    background: c(gray d8d8d8);
    content: "";
    height: rem(4);
    margin: rem(-2) rem(8) 0;
    position: absolute;
    top: 50%;
    width: rem(84);
  }

  &::before {
    right: 100%;
  }

  &::after {
    left: 100%;
  }
}
