$toggle-input-indicator-size: rem(22);

.toggle-input {
  color: c(gray 222222);
  display: block;
  margin-bottom: rem(10);
  min-height: $toggle-input-indicator-size;
  padding-left: $toggle-input-indicator-size + rem(12);
  position: relative;

  &:only-child {
    margin-bottom: 0;
  }
}

.toggle-input__indicator {
  background: c(white);
  display: inline-block;
  height: $toggle-input-indicator-size;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-align: left;
  transition: border-color ease 0.1s;
  width: $toggle-input-indicator-size;

  .toggle-input--radio & {
    border-radius: 50%;
  }

  :checked + & {
    border: none;
  }

  :hover + & {
    border-color: c(gray bbbbbb);

    @at-root {
      .toggle-input--radio :checked#{&} {
        border-color: c(gray dcdcdc);
      }
    }
  }

  :focus + & {
    border-color: c(gray 888888);

    .keyboard-focus & {
      box-shadow: $b-focus-box-shadow;
    }
  }
}

.toggle-input__icon {
  fill: c(white);
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: opacity ease 0.1s;
  width: 100%;

  :checked ~ .toggle-input__indicator & {
    opacity: 1;
  }

  .toggle-input--radio & {
    padding-bottom: rem(3);
    padding-top: rem(3);
  }
}

.toggle-input__label {
  display: block;
  font-size: fs(14);
  line-height: (18 / 14);
  padding-top: rem(2);
}
