$top-performer-height--small: rem(66);
$top-performer-height--large: rem(86);
$top-performer-image-height--small: $top-performer-height--small + rem(14);
$top-performer-image-height--large: $top-performer-height--large + rem(18);
$top-performer-value-font-size--small: fs(26);
$top-performer-value-font-size--large: fs(36);
$top-performer-value-offset--small: rem(25.5);
$top-performer-value-offset--large: rem(83);
$top-performer-img-offset: s(large);

.top-performer__section {
  margin-bottom: s(small);
  width: 100%;

  @include mq(660px) {
    margin-bottom: rem(22);
  }
}

.top-performer__header {
  color: c(gray 222222);
  height: $top-performer-height--small;
  position: relative;
  width: 100%;

  @include mq(660px) {
    height: $top-performer-height--large;
  }
}

.top-performer-header-bg-wrapper {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.top-performer-header-bg--home {
  left: -50%;

  .browser-firefox & {
    left: -49.5%;
  }
}

.top-performer-header-bg--away {
  right: calc(-50% + #{rem(1)});
}

.top-performer-header-bg__color-angle {
  height: 100%;
  position: absolute;
  width: 100%;
}

.top-performer-header-bg__logo {
  height: rem(560);
  opacity: 0.05;
  position: absolute;
  top: 50%;
  transform: skewX(30deg) translateY(-50%);
  width: auto;

  .top-performer-header-bg--away & {
    left: 16.65%;
  }

  .top-performer-header-bg--home & {
    right: -16.65%;
  }
}

.top-performer__value {
  color: (white);
  font-size: $top-performer-value-font-size--small;
  font-weight: fw(700);
  margin-top: rem(-2);
  padding: (($top-performer-height--small - $top-performer-value-font-size--small) / 2) 0 0;
  position: absolute;
  top: 0;

  @include mq(660px) {
    font-size: $top-performer-value-font-size--large;
    margin-top: rem(-3);
    padding: (($top-performer-height--large - $top-performer-value-font-size--large) / 2) 0 0;
  }
}

.top-performer__value--home {
  right: $top-performer-value-offset--small;

  @include mq(660px) {
    right: $top-performer-value-offset--large;
  }
}

.top-performer__value--away {
  left: $top-performer-value-offset--small;

  @include mq(660px) {
    left: $top-performer-value-offset--large;
  }
}

.top-performer__player {
  bottom: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 50%;
}

.top-performer__player--home {
  left: 0;
}

.top-performer__player--away {
  right: 0;
}

.top-performer-header-image {
  bottom: 0;
  height: $top-performer-image-height--small;
  overflow: hidden;
  position: absolute;
  width: rem(140);

  @include mq(660px) {
    height: $top-performer-image-height--large;
  }
}

.top-performer-header-image--home {
  left: 0;
}

.top-performer-header-image--away {
  right: 0;
}

.top-performer-header-image__img {
  height: $top-performer-image-height--small;
  max-width: none;

  @include mq(660px) {
    height: $top-performer-image-height--large;
  }
}

.top-performer-header-image__img--home {
  margin-left: $top-performer-img-offset * -1;
}

.top-performer-header-image__img--away {
  margin-right: $top-performer-img-offset * -1;
}

.top-performer__footer {
  color: c(gray 222222);
  display: flex;
  font-size: fs(14);
  font-weight: fw(500);
  line-height: (16 / 14);
  padding: rem(7) rem(10) rem(6);
  width: 100%;

  @include mq(660px) {
    font-size: fs(20);
    padding: rem(13) rem(18) rem(12);
  }
}
