.top-banner {
  height: rem(44);
  padding: rem(4) s(x-small);
  width: 100%;
}

.top-banner__title {
  font-size: fs(12);
  letter-spacing: rem(4);
  text-transform: uppercase;
}

.top-banner__value {
  font-size: fs(22);
}

.top-banner__slash {
  font-weight: fw(400);
}

.top-banner--sticky {
  position: fixed;
  top: 0;
  transition: top $navigation-transition-speed;
  z-index: z(primary stickio);

  @include mq(960px) {
    left: $navigation-desktop-width;
    width: calc(100% - #{$navigation-desktop-width});
  }

  .g-navigation-is-pinned &,
  .g-navigation-is-unpinned & {
    @each $breakpoint, $navigation-height in $navigation-heights {
      @include mq($breakpoint) {
        @if $navigation-height == "auto" {
          top: 0;
        }
        @else {
          top: $navigation-height;
        }
      }
    }
  }
}
