// NB. This is affected by .s-cms-content. If you make changes, ensure you test it there

// sass-lint:disable no-ids
@mixin icon($content, $fontSize: 24) {
  background-image: none if($important, !important, null);
  position: relative;

  &:before {
    color: c(white);
    content: $content;
    display: block;
    font-family: "videoplayer";
    font-size: fs($fontSize);
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.video-player {
  font-family: ff(rl2); // .s-cms-content requirement

  &:not(.video-player--inline) {
    background-color: c(black);
  }
}

.video-player--sm-outdent-below-960 {
  @include mq(959, max-width) {
    margin-left: s(small) * -1;
    margin-right: s(small) * -1;
  }
}

.video-player--shadowed {
  box-shadow: 0 rem(5) rem(25) 0 rgba(c(black), 0.5);
}

.video-player__title {
  @include responsive-tween(fs(14), (1200px: fs(16)), $important: true);

  color: c(gray 666666);
  line-height: (20 / 14);

  @include mq(768px) {
    line-height: (20 / 16);
  }

  .video-player--sm-outdent-below-960 & {
    @include mq(959, max-width) {
      padding-left: s(small);
      padding-right: s(small);
    }
  }

  .video-player--inline:not(.is-adblocked) & {
    position: absolute;
    top: percentage(17 / 16);
    width: 100%;
  }
}

.video-player-user-warning {
  background-image: url("../public/images/video-page/video-player-user-warning-960x540.jpg");
  background-size: cover;
  color: c(gray 222222);
  margin-top: percentage(9 / 16) * -1;
}

.video-player-user-warning__message {
  font-size: fs(14);
  line-height: (16 / 14);
  margin: s(medium);
  padding: s(medium);
  text-align: center;
  width: 100%;

  @include mq(768px) {
    font-size: fs(16);
    line-height: (24 / 16);
    width: rem(460);
  }
}

.bitmovinplayer-poster {
  background-size: cover !important;
}

//////////////////////////
// General/global styling & bitmovin overrides
//////////////////////////
#player { // Duplicating & overwriting bitmovin default style
  margin: auto;
  max-width: rem(900);
  width: 90%;
}

.bitmovinplayer-container {
  color: currentColor if($important, !important, null);
  left: 0;
  position: absolute if($important, !important, null);
  top: 0;
}

.bitmovinplayer-ad-container,
.bmpui-ui-uicontainer {
  color: currentColor if($important, !important, null);
}

#webserver-warning { // Duplicating & overwriting bitmovin default style
  background-color: rgba(c(red ba0000), 0.5);
  display: none;
  margin: rem(50);
  padding: rem(20);
}

.bmpui-ui-watermark {
  display: none;
}

.bmpui-ui-playbacktoggle-overlay .bmpui-ui-hugeplaybacktogglebutton {
  padding: 0;
}

.bmpui-ui-buffering-overlay-indicator {
  background-image: none if($important, !important, null);
  border-radius: rem(4);
  border-style: solid if($important, !important, null);
  border-width: rem(3) if($important, !important, null);
  margin: s(medium) if($important, !important, null);
  opacity: 0.75;
}

.bmpui-ui-recommendation-overlay,
.bmpui-ui-buffering-overlay {
  background-color: rgba(c(black), 0.35);
}

//////////////////////////
// Controls
//////////////////////////

// General
.bmpui-ui-audiotracksettingstogglebutton.bmpui-on:hover,
.bmpui-ui-settingstogglebutton.bmpui-on:hover,
.bmpui-ui-subtitlesettingstogglebutton.bmpui-on:hover {
  filter: drop-shadow(0 0 rem(1) c(white));
}

.bmpui-ui-playbacktimelabel {
  color: c(white) if($important, !important, null);
  margin: 0 if($important, !important, null);
}

// Ads
.bmpui-ui-ads-status .bmpui-ui-button-ad-skip {
  display: none if($important, !important, null);
}

.bmpui-ui-playbacktimelabel-live {
  background: c(red ba0000);
  color: c(white) if($important, !important, null);
  font-size: fs(14);
  padding: 0 rem(6);
  width: auto;

  &:before {
    display: none;
  }
}

// Seekbar
.bmpui-ui-seekbar {
  margin: 0 s(small) if($important, !important, null);

  &:focus {
    box-shadow: none;

    .bmpui-seekbar-backdrop {
      box-shadow: $b-focus-box-shadow;
    }
  }

  .bmpui-ui-playbacktimelabel-live.bmpui-hidden + & {
    margin-left: 0 if($important, !important, null);
  }
}

.bmpui-controlbar-bottom .bmpui-container-wrapper {
  .browser-ios &,
  .browser-safari & {
    padding-bottom: rem(6); // ios/safari button clipping when pre-roll runs.
  }
}

.bmpui-controlbar-bottom .bmpui-container-wrapper,
.bmpui-controlbar-top .bmpui-container-wrapper {
  align-items: center;
  display: flex;
}


.bmpui-seekbar-playbackposition-marker {
  &:focus,
  &:hover {
    transition: 0.2s;
  }

  &::before {
    background: transparent;
    content: "";
    left: -100%;
    padding: s(medium);
    position: absolute;
    top: -100%;
  }
}

.bmpui-ui-seekbar-label .bmpui-seekbar-label-inner > .bmpui-container-wrapper .bmpui-seekbar-label-metadata .bmpui-seekbar-label-time {
  color: c(white) if($important, !important, null);
}

.bmpui-ui-seekbar .bmpui-seekbar .bmpui-seekbar-markers > .bmpui-seekbar-marker-penalty {
  border-color: rgba(c(red ba0000), 0.4) if($important, !important, null);
}

.bmpui-ui-seekbar .bmpui-seekbar .bmpui-seekbar-markers > .bmpui-seekbar-marker-try {
  border-color: rgba(c(yellow b08a00), 0.4) if($important, !important, null);
}

// settings panel
.bmpui-ui-settings-panel {
  color: c(white) if($important, !important, null);
}

.bmpui-ui-seekbar-label .bmpui-seekbar-label-inner {
  border: rem(1) solid c(white);

  &:after {
    display: none;
  }
}

.bmpui-seekbar-thumbnail {
  padding-bottom: percentage(9 / 16) if($important, !important, null);
}

//////////////////////////
// Icons
//////////////////////////

// Big play button
.bmpui-ui-hugeplaybacktogglebutton .bmpui-image {
  @include icon(">", 64);

  .bmpui-player-state-playing & {
    @include icon("g", 64);
  }
}

// Replay
.bmpui-ui-hugereplaybutton .bmpui-image {
  @include icon("c", 64);

  &:focus,
  &:hover {
    animation: none if($important, !important, null);
  }
}

// Play button
.bmpui-ui-playbacktogglebutton {
  @include icon(">", 38);
}

// Pause button
.bmpui-ui-playbacktogglebutton.bmpui-on {
  &:before {
    content: "g";
  }
}

.bmpui-ui-volumetogglebutton {
  // Volume High
  @include icon("b", 28);
  margin-left: s(small);

  // Volume low
  &[data-bmpui-volume-level-tens="1"],
  &[data-bmpui-volume-level-tens="2"],
  &[data-bmpui-volume-level-tens="3"],
  &[data-bmpui-volume-level-tens="4"],
  &[data-bmpui-volume-level-tens="5"] {
    &:before {
      content: "a";
    }
  }
}

// Volume Muted
.bmpui-ui-volumetogglebutton.bmpui-muted {
  &:before {
    content: "p";
  }
}

// Settings
.bmpui-ui-settingstogglebutton {
  @include icon("m");
}

// Settings On
.bmpui-ui-settingstogglebutton.bmpui-on {
  &:before {
    content: "m";
  }
}

// Maximise
.bmpui-ui-fullscreentogglebutton {
  @include icon("j");
}

.bmpui-ui-titlebar button {
  margin-left: s(x-small);
}

// Minimise
.bmpui-ui-fullscreentogglebutton.bmpui-on,
[data-fullscreen="true"] .bmpui-ui-skin-ads .bmpui-ui-fullscreentogglebutton {
  &:before {
    content: "i";
  }
}

// this is the original close icon from bitmovin
.bmpui-ui-closebutton {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2032%2032%22%20style%3D%22%22%20xml%3Aspace%3D%22preserve%22%20height%3D%22100%25%22%20width%3D%22100%25%22%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3E%0A%09.st0%7Bfill%3A%23FFFFFF%3B%7D%0A%3C%2Fstyle%3E%0A%3Cg%20id%3D%22Rounded_Rectangle_6%22%3E%0A%09%3Cg%3E%0A%09%09%3Cpath%20class%3D%22st0%22%20d%3D%22M26%2C6c-0.9-0.9-2.2-0.9-3.1%2C0L6%2C22.8c-0.9%2C0.9-0.9%2C2.2%2C0%2C3.1c0.9%2C0.9%2C2.2%2C0.9%2C3.1%2C0L26%2C9.2%0A%09%09%09C26.9%2C8.3%2C26.9%2C6.9%2C26%2C6z%22%2F%3E%0A%09%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3Cg%20id%3D%22Rounded_Rectangle_6_copy%22%3E%0A%09%3Cg%3E%0A%09%09%3Cpath%20class%3D%22st0%22%20d%3D%22M26%2C22.8L9.2%2C6C8.3%2C5.1%2C7%2C5.1%2C6.1%2C6s-0.9%2C2.2%2C0%2C3.1l16.9%2C16.9c0.9%2C0.9%2C2.2%2C0.9%2C3.1%2C0%0A%09%09%09C26.9%2C25.1%2C26.9%2C23.7%2C26%2C22.8z%22%2F%3E%0A%09%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E");
  margin: 0 if($important, !important, null);
  padding: rem(24);
}

//////////////////////////
// Theme colours
//////////////////////////
.bmpui-ui-buffering-overlay-indicator {
  border-color: currentColor if($important, !important, null);
}

.bmpui-ui-button-ad-skip:before {
  color: currentColor if($important, !important, null);
}

.bmpui-ui-volumeslider {
  border: currentColor if($important, !important, null);
  color: currentColor if($important, !important, null);
}

.bmpui-seekbar {
  background-color: currentColor if($important, !important, null);
  border: currentColor if($important, !important, null);
  color: currentColor if($important, !important, null);
}

.bmpui-seekbar-playbackposition-marker {
  background-color: currentColor if($important, !important, null);
  border: currentColor if($important, !important, null);
}

.bmpui-seekbar-playbackposition-marker:hover {
  background-color: currentColor if($important, !important, null);
  border: currentColor if($important, !important, null);
}

.bmpui-seekbar-playbackposition {
  background-color: currentColor if($important, !important, null);
  border: currentColor if($important, !important, null);
}

.bmpui-ui-selectbox:not(:focus) {
  color: currentColor if($important, !important, null);
}

.bmpui-ui-buffering-overlay a:visited {
  color: currentColor if($important, !important, null);
}

.bmpui-ui-playbacktimelabel,
.bmpui-ui-label-ad-message {
  font-family: "rl2";
  font-size: rem(14);
}

.bmpui-ui-ads-status {
  left: rem(16) if($important, !important, null);
  line-height: 1;
  padding-left: rem(16) if($important, !important, null);
  padding-right: rem(16) if($important, !important, null);
  top: rem(16) if($important, !important, null);
}

.bmpui-ui-ads-status .bmpui-ui-label-ad-message {
  color: c(white) if($important, !important, null);
}

.bmpui-ui-selectbox {
  background: c(black);
  color: c(white);

  &:focus {
    background: c(black);
    color: c(white);
  }
}

.bmpui-ui-uicontainer.bmpui-controls-shown .bmpui-ui-hugeplaybacktogglebutton:focus {
  box-shadow: none if($important, !important, null);
}

.bmpui-ui-seekbar .bmpui-seekbar .bmpui-seekbar-backdrop,
.bmpui-ui-seekbar .bmpui-seekbar .bmpui-seekbar-bufferlevel,
.bmpui-ui-seekbar .bmpui-seekbar .bmpui-seekbar-markers > .bmpui-seekbar-marker,
.bmpui-ui-seekbar .bmpui-seekbar .bmpui-seekbar-markers,
.bmpui-ui-seekbar .bmpui-seekbar .bmpui-seekbar-playbackposition,
.bmpui-ui-seekbar .bmpui-seekbar .bmpui-seekbar-seekposition,
.bmpui-ui-volumeslider .bmpui-seekbar .bmpui-seekbar-backdrop,
.bmpui-ui-volumeslider .bmpui-seekbar .bmpui-seekbar-bufferlevel,
.bmpui-ui-volumeslider .bmpui-seekbar .bmpui-seekbar-markers > .bmpui-seekbar-marker,
.bmpui-ui-volumeslider .bmpui-seekbar .bmpui-seekbar-markers,
.bmpui-ui-volumeslider .bmpui-seekbar .bmpui-seekbar-playbackposition,
.bmpui-ui-volumeslider .bmpui-seekbar .bmpui-seekbar-seekposition {
  height: rem(2);
}

// settings overlay

// only touch devices
@media (hover: none) and (pointer: coarse) {
  .bmpui-ui-settings-panel-page * {
    font-size: fs(16) if($important, !important, null);
  }
}

.bmpui-ui-settings-panel-item {
  border-bottom: none if($important, !important, null);
}

// subtitles - not supported ( yet )
#bmpui-id-86 {
  display: none;
}

.bmpui-ui-settingspanelpageopenbutton {
  display: none;
}
