.volume-slider__button {
  font-family: ff(videoplayer);
  font-size: fs(24);
}

.volume-slider__bar {
  cursor: pointer;
}

.volume-slider__bar-fill {
  background: currentColor;
  height: 100%;
  transform: scaleY(0.5);
  transform-origin: bottom;
  transition: transform 0.25s ease-in-out;
  width: rem(1);

  .is-active & {
    transform: scaleY(1);
  }

  .browser-edge & {
    outline: 1px solid transparent;
  }

  .browser-ie & {
    width: 1px;
  }

  .volume-slider__bar:hover & {
    transform: scaleY(1.2);
  }
}
