$palette: (
  inherit: inherit,
  black: #000,
  white: #fff,
  blue: #5a90e3,
  gray: (
    111111: #111,
    222222: #222,
    444444: #444,
    4a4a4a: #4a4a4a,
    595959: #595959,
    666666: #666,
    767676: #767676,
    888888: #888,
    999999: #999,
    a2a2a2: #a2a2a2,
    acacac: #acacac,
    bbbbbb: #bbb,
    cfcfcf: #cfcfcf,
    dcdcdc: #dcdcdc,
    d8d8d8: #d8d8d8,
    dfe0e0: #dfe0e0,
    e8e8e8: #e8e8e8,
    eaeaea: #eaeaea,
    ededed: #ededed,
    eeeeee: #eee,
    efefef: #efefef,
    f2f2f2: #f2f2f2,
    f6f6f6: #f6f6f6,
    fafafa: #fafafa,
  ),
  green: #09b26a,
  orange:#ed703b,
  red:#d0011b
);

$colors: $palette;

@include atc(core,
  (
    text: c(gray 444444),
    text-dark: c(gray 222222),
    text-light: c(gray 888888),
  )
);

@include atc(social,
  (
    facebook: #304f93,
    instagram: #5600c0,
    twitter: #54abef,
  ), true
);

// TODO: Get JD and MS's optimisation branches in so we don't have to duplicate themes
// Re-used colours - temp solution
$nsw-primary: #073671;
$nsw-tint: #04275b;
$nsw-tint-rm: #021845;
$nsw-secondary: #0c61cb;
$nsw-highlight: #5daee1;

$qld-primary: #83003f;
$qld-tint: #60003b;
$qld-tint-rm: #4b0532;
$qld-secondary: #b80c4b;
$qld-highlight: #999b9e;

$site-themes: (
  // putting at the top as a reminder to remove after tournament is over
  nrl-nines: (
    primary: #0d0d0d,
    tint: #262626,
    tint-rm: #111,
    secondary: #0051e0,
    highlight: #00c9e4,
  ),
  nrl: (
    primary: #0d0d0d,
    tint: #262626,
    tint-rm: #111,
    secondary: #008540,
    highlight: #00cf5d,
  ),
  nrl-bunker: (
    primary: #383936,
    tint: #000, // Setting to #000 since we have to have a colour but this theme isn't fleshed out
    tint-rm: #000,
    secondary: #000,
    highlight: #d1da42,
  ),
  nrl-hall-of-fame: (
    primary: #000,
    tint: #262626,
    tint-rm: #1a1a1a,
    secondary: #949494,
    highlight: #d8d8d8,
  ),
  nrl-immortal: (
    primary: #000,
    tint: #262626,
    tint-rm: #1a1a1a,
    secondary: #a68e5b,
    highlight: #c0a873,
  ),
  nrl-premiership-finals: (
    primary: #000,
    tint: #262626,
    tint-rm: #1a1a1a,
    secondary: #949494,
    highlight: #d8d8d8,
  ),
  broncos: (
    primary: #6c1d45,
    tint: #521633,
    tint-rm: #3d0d21,
    secondary: #9e2b64,
    highlight: #f8cc0d,
  ),
  bulldogs: (
    primary: #00468b,
    tint: #00306f,
    tint-rm: #001843,
    secondary: #0072bc,
    highlight: #0090f0,
  ),
  cowboys: (
    primary: #0c2340,
    tint: #0c192f,
    tint-rm: #060d1e,
    secondary: #22447a,
    highlight: #ffd100,
  ),
  dragons: (
    primary: #cd232c,
    tint: #a6121c,
    tint-rm: #1a0303,
    secondary: #737373,
    highlight: #dedede,
  ),
  eels: (
    primary: #002d72,
    tint: #001b46,
    tint-rm: #001126,
    secondary: #004cc0,
    highlight: #ffb81c,
  ),
  knights: (
    primary: #003b73,
    tint: #002b5d,
    tint-rm: #040d1e,
    secondary: #1d54a6,
    highlight: #e82c2a,
  ),
  nswrl: (
    primary: $nsw-primary,
    tint: $nsw-tint,
    tint-rm: $nsw-tint-rm,
    secondary: $nsw-secondary,
    highlight: $nsw-highlight,
  ),
  panthers: (
    primary: #2c2f30,
    tint: #1f2122,
    tint-rm: #121414,
    secondary: #767676,
    highlight: #ccc,
  ),
  qrl: (
    primary: $qld-primary,
    tint: $qld-tint,
    tint-rm: $qld-tint-rm,
    secondary: $qld-secondary,
    highlight: $qld-highlight,
  ),
  rabbitohs: (
    primary: #003b19,
    tint: #002b11,
    tint-rm: #001b09,
    secondary: #00702f,
    highlight: #ec0400,
  ),
  raiders: (
    primary: #94c949,
    tint: #679c40,
    tint-rm: #538330,
    secondary: #273650,
    highlight: #beed5c,
  ),
  roosters: (
    primary: #0b2d5b,
    tint: #072046,
    tint-rm: #031331,
    secondary: #1351a3,
    highlight: #e01f1d,
  ),
  sea-eagles: (
    primary: #660238,
    tint: #500128,
    tint-rm: #360016,
    secondary: #9f2161,
    highlight: #a9abac,
  ),
  sharks: (
    primary: #1f7eb2,
    tint: #15679f,
    tint-rm: #00345d,
    secondary: #27a3e6,
    highlight: #95d1f2,
  ),
  storm: (
    primary: #592b8c,
    tint: #4f1782,
    tint-rm: #001641,
    secondary: #616066,
    highlight: #fff203,
  ),
  titans: (
    primary: #005e9b,
    tint: #004986,
    tint-rm: #002e62,
    secondary: #00a3e0,
    highlight: #f9b53c,
  ),
  warriors: (
    primary: #151f6d,
    tint: #0e1557,
    tint-rm: #030635,
    secondary: #00843d,
    highlight: #d22630,
  ),
  wests-tigers: (
    primary: #262626,
    tint: #161616,
    tint-rm: #000,
    secondary: #817e88,
    highlight: #ff8200,
  ),
);

$non-site-themes: (
  // State of origin
  blues: (
    primary: $nsw-primary,
    tint: $nsw-tint,
    tint-rm: $nsw-tint-rm,
    secondary: $nsw-secondary,
    highlight: $nsw-highlight,
  ),
  maroons: (
    primary: $qld-primary,
    tint: $qld-tint,
    tint-rm: $qld-tint-rm,
    secondary: $qld-secondary,
    highlight: $qld-highlight,
  ),
  nsw-u16s: (
    primary: $nsw-primary,
    tint: $nsw-tint,
    tint-rm: $nsw-tint-rm,
    secondary: $nsw-secondary,
    highlight: $nsw-highlight,
  ),
  nsw-u18s: (
    primary: $nsw-primary,
    tint: $nsw-tint,
    tint-rm: $nsw-tint-rm,
    secondary: $nsw-secondary,
    highlight: $nsw-highlight,
  ),
  nsw-u20s: (
    primary: $nsw-primary,
    tint: $nsw-tint,
    tint-rm: $nsw-tint-rm,
    secondary: $nsw-secondary,
    highlight: $nsw-highlight,
  ),
  nsw-women: (
    primary: $nsw-primary,
    tint: $nsw-tint,
    tint-rm: $nsw-tint-rm,
    secondary: $nsw-secondary,
    highlight: $nsw-highlight,
  ),
  qld-u16s: (
    primary: $qld-primary,
    tint: $qld-tint,
    tint-rm: $qld-tint-rm,
    secondary: $qld-secondary,
    highlight: $qld-highlight,
  ),
  qld-u18s: (
    primary: $qld-primary,
    tint: $qld-tint,
    tint-rm: $qld-tint-rm,
    secondary: $qld-secondary,
    highlight: $qld-highlight,
  ),
  qld-u20s: (
    primary: $qld-primary,
    tint: $qld-tint,
    tint-rm: $qld-tint-rm,
    secondary: $qld-secondary,
    highlight: $qld-highlight,
  ),
  qld-women: (
    primary: $qld-primary,
    tint: $qld-tint,
    tint-rm: $qld-tint-rm,
    secondary: $qld-secondary,
    highlight: $qld-highlight,
  ),
  // Intrust NSW
  blacktown-sea-eagles: (
    primary: #272726,
    tint: #1a1a1a,
    tint-rm: #0e0e0e,
    secondary: #401626,
    highlight: #be3340,
  ),
  jets: (
    primary: #004fa2,
    tint: #00366e,
    tint-rm: #001d3c,
    secondary: #0078c1,
    highlight: #0096f4,
  ),
  mounties: (
    primary: #383838,
    tint: #1e1e1e,
    tint-rm: #060100,
    secondary: #f26f0f,
    highlight: #fed655,
  ),
  north-sydney-bears: (
    primary: #f55343,
    tint: #a9382e,
    tint-rm: #5c1f19,
    secondary: #666,
    highlight: #404040,
  ),
  roos: (
    primary: #008746,
    tint: #005c2f,
    tint-rm: #003219,
    secondary: #00ba62,
    highlight: #f1b628,
  ),
  wentworthville: (
    primary: #044878,
    tint: #053153,
    tint-rm: #051a2c,
    secondary: #9d1828,
    highlight: #fdd272,
  ),
  western-suburbs-magpies: (
    primary: #444446,
    tint: #2e2e30,
    tint-rm: #191919,
    secondary: #818185,
    highlight: #bcbec2,
  ),

  // Intrust QLD
  blackhawks: (
    primary: #00ab58,
    tint: #00743c,
    tint-rm: #033f20,
    secondary: #000,
    highlight: #999,
  ),
  burleigh-bears: (
    primary: #a10032,
    tint: #6f0422,
    tint-rm: #3c0412,
    secondary: #6f706f,
    highlight: #9c9d9c,
  ),
  capras: (
    primary: #611434,
    tint: #430e23,
    tint-rm: #240813,
    secondary: #002541,
    highlight: #bbbcba,
  ),
  cutters: (
    primary: #009cdd,
    tint: #006a98,
    tint-rm: #003951,
    secondary: #831b43,
    highlight: #a1c7d3,
  ),
  devils: (
    primary: #001a4c,
    tint: #011234,
    tint-rm: #01091c,
    secondary: #00ade6,
    highlight: #ffe11e,
  ),
  dolphins: (
    primary: #f52419,
    tint: #a91912,
    tint-rm: #5b0d09,
    secondary: #ff5d40,
    highlight: #a7a9ac,
  ),
  easts-tigers: (
    primary: #ed701b,
    tint: #a34c13,
    tint-rm: #58290a,
    secondary: #000,
    highlight: #333,
  ),
  falcons: (
    primary: #717477,
    tint: #4d4f51,
    tint-rm: #000,
    secondary: #2a2a2b,
    highlight: #ffcb19,
  ),
  hunters: (
    primary: #c70000,
    tint: #890000,
    tint-rm: #490001,
    secondary: #000,
    highlight: #ffce39,
  ),
  ipswich-jets: (
    primary: #265640,
    tint: #1a3b2c,
    tint-rm: #0e1f17,
    secondary: #46a379,
    highlight: #ffd419,
  ),
  magpies: (
    primary: #444446,
    tint: #2e2e30,
    tint-rm: #191919,
    secondary: #818185,
    highlight: #bcbec2,
  ),
  pride: (
    primary: #00639e,
    tint: #004b6d,
    tint-rm: #00283a,
    secondary: #008ecf,
    highlight: #f7702d,
  ),
  tweed-heads-seagulls: (
    primary: #949494,
    tint: #656565,
    tint-rm: #363636,
    secondary: #191919,
    highlight: #444,
  ),
  wynnum-seagulls: (
    primary: #53a03c,
    tint: #306321,
    tint-rm: #1b3414,
    secondary: #f20025,
    highlight: #e3e3e3,
  ),

  // Lower leagues
  mustangs: (
    primary: #f5b92c,
    tint: #a97e1d,
    tint-rm: #5b440d,
    secondary: #1b457b,
    highlight: #bd2638,
  ),
  thunderbolts: (
    primary: #77879d,
    tint: #10235b,
    tint-rm: #05112c,
    secondary: #143864,
    highlight: #ced8e5,
  ),
);

@include atc(themes, (map-merge($site-themes, $non-site-themes)));
