$m-responsive-tween-max-width: 1600px;

$b-disabled-opacity: 0.8;

$b-font-family: ff(rl2);
$u-font-weight-types: $font-weights;

$b-html-background: c(gray f6f6f6);
$b-html-color: c(core text);

$b-heading-color: c(core text-dark);
$b-heading-font-weight: fw(500);
// UX haven't agreed upon a system for headings, so for now, we'll style each component explicitly
$b-heading-sizes: (
  1: null,
  2: null,
  3: null,
  4: null,
);

$b-input-focus-color: c(white);

$l-grid-breakpoints-and-sizes: (
  0: (25%, 33.3333%, 50%, 75%, 90%, 100%),
  360px: (33.3333%),
  600px: (50%, 75%, 100%),
  768px: (auto, 12.5%, 16.6667%, 25%, 33.3333%, 50%, 66.6667%, 75%, 83.3333%, 100%),
  960px: (auto, 8.3333%, 16.6667%, 25%, 33.3333%, 40%, 50%, 60%, 66.6667%, 75%, 83.3333%, 91.6667%, 100%),
  1200px: (16.6667%, 25%, 33.3333%, 50%, 66.6667%, 75%, 100%),
  1400px: (16.6667%, 25%, 33.3333%, 50%, 66.6667%, 100%),
  1500px: (16.6667%, 25%, 33.3333%, 50%, 66.6667%, 100%),
);

$l-grid-spacings: map-merge($spacings, (large: rem(48)));
$l-grid-spacings-at-breakpoints: true;
$l-grid-visibility-at-breakpoints: true;

$important: true;

$u-flex-direction-types: (
  column,
  row-reverse,
);

$u-spacings: map-merge($spacings, (zero: 0));
$u-spacing-output-negatives: true;
