.card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.card--type-compact {
  flex-direction: row;
}

.card--type-compact-below-600 {
  @include mq(599, max-width) {
    flex-direction: row;
  }
}

.card--type-compact-below-600--reversed {
  @include mq(599, max-width) {
    flex-direction: row-reverse;
  }
}

.card--type-compact-and-subdued-below-768 {
  @include mq(767px, max-width) {
    background: none;
    border-bottom: rem(1) solid c(gray d8d8d8);
    border-radius: 0;
    box-shadow: none;
    flex-direction: row-reverse;
    padding-bottom: s(small);
  }
}

.card__overlay-root {
  height: 100%;
  left: 0; // needed for club-card--search
  overflow: hidden;
  position: absolute;
  top: 0; // needed for IE 11 but harmless on other browsers so no need to fatten CSS with a separate rule
  width: 100%;
}
