.gallery {
  color: c(white);
}

.gallery .header__title {
  color: inherit;
  margin-bottom: 0;
}

.gallery__timestamp {
  font-size: fs(12);
  margin-bottom: rem(30);
  opacity: 0.8;
}

.gallery__leadin {
  @include responsive-tween(fs(22), fs(24));
  @include responsive-tween(rem(48), rem(60), margin-bottom);
  @include responsive-tween(rem(38), rem(62), margin-top);

  font-family: ff(noto);
  line-height: (32 / 18);
  opacity: 0.8;
}
