.video__media-content {
  overflow: hidden;
  position: relative;

  @include mq(960px) {
    padding: rem(20) 0 0;
  }

  .header__title {
    @include responsive-tween(fs(20), (960px: fs(26)));

    margin-bottom: rem(14);
  }
}

.video__media-content--tv {
  padding-bottom: s(medium);

  @include mq(768px) {
    // padding-bottom: s(large);
  }
}

.video__summary {
  @include responsive-tween(fs(16), (768px: fs(18)));

  color: c(white);
  line-height: (24 / 16);
  padding-bottom: rem(18);

  @include mq(768px) {
    line-height: (28 / 18);
  }
}

.video__thumbnail {
  min-height: rem(250);
  width: 100%;
}

.video__timestamp {
  color: c(white);
  display: block;
  font-size: fs(12);
  margin-bottom: rem(28);
  opacity: 0.8;

  @include mq(768px) {
    font-size: fs(14);
  }
}
