.match-centre-card-donut {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.match-centre-card-donut__value {
  color: c(gray 222222);
  font-size: fs(36);
  font-weight: fw(400);
  position: relative;
}

.match-centre-card-donut__value--home {
  text-align: right;
}

.match-centre-card-donut__value--sup {
  display: inline-block;
  font-size: fs(14);
  line-height: (38 / 14);
  vertical-align: top;
}

.match-centre-card-donut__value--footer  {
  flex-basis: 100%;
  font-size: fs(24);
  min-width: rem(100);
  text-align: center;
}
