.match-centre-summary {
  align-items: center;
  color: c(gray 444444);
  display: flex;
  flex-direction: column;
  font-size: fs(14);
  line-height: (18 / 14);
  padding: s(medium);
}

.match-centre-summary-group {
  margin-bottom: s(small);
  width: 100%;

  @include mq(768px) {
    margin-bottom: rem(40);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.match-centre-summary-group__title {
  display: flex;
  font-size: fs(14);
  font-weight: fw(400);
  justify-content: center;
  line-height: (24 / 14);
  margin-bottom: s(x-small);
  text-transform: uppercase;

  @include mq(768px) {
    font-size: fs(16);
    margin-bottom: s(small);
  }
}

.match-centre-summary-group__name {
  letter-spacing: rem(0.75);
  min-width: rem(145);
  text-align: center;
}

.match-centre-summary-group__value {
  font-weight: fw(300);
  min-width: rem(40);
}

.match-centre-summary-group__list {
  flex-basis: 50%;
}

.match-centre-summary-group__list--home {
  border-right: rem(1) solid c(gray d8d8d8);
  padding-right: s(medium);
  text-align: right;
}

.match-centre-summary-group__list--away {
  padding-left: s(medium);
}
