$filter-round-border: rem(1) solid c(gray dcdcdc);
$filter-border-color-on-dark: rgba(c(white), 0.4);

.filter-round-wrapper {
  position: relative;
}

.filter-round-wrapper--draw {
  display: flex;
}

.filter-round {
  align-items: center;
  border: $filter-round-border;
  border-radius: rem(5);
  display: flex;

  .filter-round-wrapper--on-dark & {
    border-color: $filter-border-color-on-dark;
  }
}

.filter-round__button {
  background: none;
  border: none;
  letter-spacing: rem(0.88);
  min-width: rem(44);
  padding: rem(11) 0;

  @include mq(960px) {
    justify-content: space-between;
    width: rem(96);
  }

  &:not(.filter-round__button--dropdown) {
    width: rem(48);
  }
}

.filter-round__button--dropdown {
  border-left: $filter-round-border;
  border-right: $filter-round-border;
  flex-grow: 1;
  font-size: fs(14);
  min-width: rem(120);
  padding: rem(13) s(x-small) rem(12);

  .filter-round-wrapper--on-dark & {
    border-color: $filter-border-color-on-dark;
  }
}

.filter-round__svg {
  height: rem(10);
  width: rem(8);

  [disabled] & {
    fill: c(gray d8d8d8);
  }
}
