.filter-ladder-wrapper {
  display: flex;
  margin-bottom: rem(30);
  min-height: rem(41);
}

// TODO: Standardise this with Add to Calendar
.filter-ladder-toggle {
  background: transparent;
  border-radius: rem(5);
  font-size: rem(12);
  font-weight: fw(500);
  height: rem(42);
  letter-spacing: rem(1);
  margin-left: auto;
  text-transform: uppercase;
  width: rem(42);

  @include mq(960px) {
    height: rem(32);
    min-width: rem(146);
    padding: 0 rem(10);
    width: auto;
  }

  &:active {
    outline: 0;
  }
}

.filter-ladder-toggle__content {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;

  @include mq(960px) {
    justify-content: space-around;
  }
}

.filter-ladder-toggle__svg {
  align-self: center;
  fill: c(gray 444444);
  height: rem(20);
  width: rem(20);

  @include mq(960px) {
    height: rem(16);
    width: rem(16);
  }
}

.filter-ladder-toggle__text {
  display: none;

  @include mq(960px) {
    display: block;
  }
}

.filter-ladder {
  min-width: rem(288);
  padding: rem(16) rem(14) rem(6);
  position: absolute;
  right: 0;
  top: 0;
  z-index: z(primary filter-ladder);
}

.filter-ladder__heading {
  color: c(gray 444444);
  font-size: fs(16);
  margin: 0 0 rem(12);
}
