.o-app-prompt-svg {
  height: rem(47);
  width: rem(160);
}

.o-app-prompt-svg--android {
  .browser-ios & {
    display: none;
  }
}

.o-app-prompt-svg--ios {
  .browser-android & {
    @include browser-supports-touch {
      display: none;
    }
  }
}

