.o-drop-cap {
  font-family: ff(noto);
  line-height: (34 / 18) if($important, !important, null);

  @include mq(768px) {
    font-size: fs(18);
  }

  :first-child {
    padding-bottom: rem(6);
  }

  :first-child::first-letter {
    float: left;
    font-size: fs(70);
    font-weight: fw(700);
    line-height: (20 / 46);
    margin-right: rem(4);
    margin-top: rem(17.2);

    .browser-firefox & {
      margin-top: rem(6);
    }
  }
}
