.o-fading-gradient {
  position: relative;

  &::before {
    background: linear-gradient(to top, currentColor 0%, currentColor 55%, rgba(c(white), 0) 100%); // transparent replaced with rgba value https://css-tricks.com/thing-know-gradients-transparent-black/
    content: "";
    height: rem(100);
    left: 0;
    position: absolute;
    top: rem(-100);
    width: 100%;
  }
}

.o-fading-gradient--on-dark {
  &::before {
    background: linear-gradient(to top, currentColor 0%, currentColor 55%, rgba(c(black), 0) 100%); // transparent replaced with rgba value https://css-tricks.com/thing-know-gradients-transparent-black/
  }
}
