.o-group-title {
  @include responsive-tween(fs(16), (660px: fs(20)));

  letter-spacing: rem(1);
  line-height: 1;
  margin-bottom: s(small);
  text-align: center;
  text-transform: uppercase;
}

.o-group-title--sub {
  @include responsive-tween(fs(14), (660px: fs(16)));

  font-weight: fw(400);

  @include mq(660px) {
    letter-spacing: rem(2);
  }
}
