.o-lazy-loaded-image {
  display: block;
  max-height: rem(600);
  max-width: rem(840);
  overflow: hidden;
  position: relative;
}

.o-lazy-loaded-image__item {
  &:not(.has-loaded) {
    height: rem(1);
    overflow: hidden;
    width: 100%;
  }
}

.o-lazy-loaded-image-placeholder {
  background: c(gray eaeaea);
  display: block;
  opacity: 0.8;
  padding-bottom: (9 / 16) * 100%;

  .has-loaded + & {
    display: none;
  }
}

.o-lazy-loaded-image-placeholder__item {
  display: none;
  height: rem(100);
  left: 50%;
  margin: rem(-50) 0 0 rem(-50);
  position: absolute;
  top: 50%;
  width: rem(100);
}

.o-lazy-loaded-image-placeholder__item--initial {
  :not(.has-errored):not(.is-loading) + .o-lazy-loaded-image-placeholder & {
    display: block;
  }
}

.o-lazy-loaded-image-placeholder__item--error {
  .has-errored + .o-lazy-loaded-image-placeholder & {
    display: block;
  }
}

.o-lazy-loaded-image-placeholder__item--loading {
  .is-loading + .o-lazy-loaded-image-placeholder & {
    display: block;
  }
}

.o-lazy-loaded-image-placeholder__svg {
  fill: c(gray acacac);
  height: 100%;
  width: 100%;
}
