.o-svg {
  display: inline-block;
  fill-rule: evenodd;
  pointer-events: none;

  .no-svg & {
    display: none;
  }
}

.o-svg--crisp-edges {
  shape-rendering: crispEdges;
}

.o-svg--direction-down {
  transform: rotate(90deg);
}

.o-svg--direction-left {
  transform: scaleX(-1);
}

.o-svg--direction-up {
  transform: rotate(-90deg);
}

// Apply this class to an SVG path which you need to style with `color` instead of `fill`
.svg-current-color {
  fill: currentColor;
}
