.o-text {
  font-size: fs(14) if($important, !important, null);
  line-height: (20 / 14) if($important, !important, null);
}

// TEMP: Adding this to test a redeployment to production
.o-text-cam {
  font-size: fs(14) if($important, !important, null);
}
